[2016-01-15 06:08] abhsag24 opened #2 "No scheduler, or wallpaper setter."
TSIA

[2016-01-15 07:12] abhsag24 opened #3 "Create a download progress bar"
it would be nice to have a download progress bar

[2016-01-15 08:03] abhsag24 commented on #3
a way to do this , could be to use, the reporthook attribute in the urlretriever function

[2016-01-15 13:32] abhsag24 commented on #2
commit c6333bae5b6 solves the problem of the scheduler, and wallpaper setter (atleast for ubuntu)

[2016-01-15 13:32] #2 closed

[2016-01-15 13:32] abhsag24 commented on #3
commit c6333bae5b6 solves this problem

[2016-01-15 13:32] #3 closed

[2016-01-16 03:40] abhsag24 opened #4 "Support for different os' and Desktop Environments"
It'd be nice to have support for different PC's maybe even windows?

[2016-01-16 05:03] abhsag24 opened #5 "Delete wallpapers when they get too old"
We should delete wallpapers when they get too old,  and also put a limit on the number of pics, in the pics directory

[2016-01-19 08:33] abhsag24 opened #6 "option for other subreddits"
all subreddits follow similar page structure so it shouldn't be difficult to allow for different subreddits

[2016-01-22 05:59] abhsag24 opened #7 "Use reddit APIs"
TSIA

[2016-02-19 07:54] abhsag24 opened #8 "Add tests for all functions and modules"
Right now we don't test anything it'd be nice if we add tests to our code asap

[2016-02-20 04:55] abhsag24 opened #9 "add"

[2016-02-20 04:55] abhsag24 opened #10 "add CI system after tests"
We need a CI system to continously integrate, and maybe rultor for a constant merge?

[2016-03-10 07:33] abhsag24 opened #11 "Add option for not connecting to the internet"
i think it would cool if we could add an option for not connecting to the internet and changing the wallpapers directly from the directory, all the functionality is there we just need to add an option

[2016-03-10 07:33] #9 closed

[2016-04-19 08:19] abhsag24 opened #12 "Option for different URL's other than reddit"
i think UIP should be able to extract images of a considerable resolution from any website

[2016-10-27 04:27] abhsag24 opened #13 "CONTRIBUTING.md: Ask people to report issues atthe github issues page"
something on the lines "Report issues found, at our github page" should be just fine :)

[2016-10-27 04:35] abhsag24 commented on #10
blocked by test

[2016-10-27 04:55] abhsag24 opened #14 "Use rultor for deployement"
it would be nice to have newcommer commits as standalone commits instead of those stupid merge commits for that we'll need rultor.

[2016-10-27 04:56] abhsag24 commented on #14
@rultor hello

[2016-10-27 04:57] rultor commented on #14
@abhsag24 Hi there! I understand a few simple commands: "merge", "deploy", etc. [This page](http://doc.rultor.com/basics.html) explains them briefly. Any questions or bug reports are [welcome](https://github.com/yegor256/rultor/issues). Have fun :)

[2016-10-28 10:19] abhsag24 commented on #14
Closed with https://github.com/NIT-dgp/UIP/commit/b15a78eb18c3498cf8083723cc10060bbf7494ca

[2016-10-28 10:19] #14 closed

[2016-10-28 18:47] abhsag24 opened #15 "Add a License"
TSIA

[2016-11-01 16:02] sonalkr132 opened #16 "Correct readme opening line"
https://github.com/NIT-dgp/UIP#uip-is-pretty says:

probably it should say or something similar

[2016-11-02 07:22] PaliwalSparsh opened #17 "Add gitter link to the README.md"
Add link to [#general](https://gitter.im/NIT-dgp/General) ( https://gitter.im/NIT-dgp/General ) channel in the README.md so that reaching to the maintainers is easy for newcomers.

[2016-11-03 05:27] abhsag24 commented on #17
It should go under the heading Contact Us

[2016-11-03 13:00] PaliwalSparsh commented on #17
I don't think this is to be done by a newcomer rather be done before newcomers come. How to contact us should be fixed asap and done by us only.

[2016-11-03 13:26] abhsag24 commented on #17
until its done it's difficulty is for a newcomer, i'll add it before we go public. Just in case a newcomer drops by early he'll have another task to do :)

[2016-11-03 13:32] abhsag24 commented on #7
requests impossible to make without reddit API from windows, it is must we use reddit API if we wish to continue windows dev.

[2016-11-03 14:21] pandusonu2 opened #18 "Specify the parser for better output"
/usr/lib/python3/dist-packages/bs4/__init__.py:181: UserWarning: No parser was explicitly specified, so I'm using the best available HTML parser for this system ("lxml"). This usually isn't a problem, but if you run this code on another system, or in a different virtual environment, it may use a different parser and behave differently.

The code that caused this warning is on line 4 of the file UI

[2016-11-03 14:22] pandusonu2 opened #19 "HTTP Error 403"
Traceback (most recent call last):
  File "UIP.py", line 4, in <module>
    scheduler()
  File "/home/sonu/UIP/scheduler.py", line 10, in __init__
    self.initFetch()
  File "/home/sonu/UIP/scheduler.py", line 17, in initFetch
    get_images(WEBSITE)
  File "/home/sonu/UIP/scrape.py", line 49, in get_images
    urlretrieve(image,os.path.join(path,filename),reporthook=dlProgress)
  File "/usr/lib/

[2016-11-03 14:37] abhsag24 commented on #18
Change https://github.com/NIT-dgp/UIP/blob/master/scrape.py#L15
from
`BeautfulSoup(html)`
to
`BeautifulSoup(html, "html.parser")`

[2016-11-03 14:40] abhsag24 commented on #19
pushing a hotfix, happens due to two reasons:
1. Too many requests, reddit only allows 60 requests per minute
2. some links are bad.

I can correct the 2nd case by using a try and except block at the time of retrieving a url, in `scrape.py`  but we'll have to use an official account and use `OAuth2` to get by 1.

[2016-11-04 10:12] abhsag24 opened #20 "Use libdesktop to change wallpaper and make it cross platform"
https://github.com/bharadwaj-raju/libdesktop

[2016-11-04 11:19] abhsag24 commented on #19
Closes with https://github.com/NIT-dgp/UIP/commit/00c06916d910ac6ba39f1b8488b0672f5049a6a1 , forgot to add the the issue in commit :P

[2016-11-04 11:19] #19 closed

[2016-11-10 19:59] ghoshbishakh opened #22 "PEP8 errors in UIP.py"
There are the following PEP8 errors in UIP.py:

UIP.py:4:1: W191 indentation contains tabs
UIP.py:4:13: W292 no newline at end of file

[2016-11-10 20:01] ghoshbishakh opened #23 "PEP8 errors in scheduler.py"
scheduler.py:1:5: E271 multiple spaces after keyword
scheduler.py:3:31: E231 missing whitespace after ','
scheduler.py:3:43: E231 missing whitespace after ','
scheduler.py:3:51: E231 missing whitespace after ','
scheduler.py:6:30: W291 trailing whitespace
scheduler.py:7:1: E302 expected 2 blank lines, found 0
scheduler.py:13:1: W293 blank line contains whitespace
scheduler.py:14:9: E265 block comm

[2016-11-11 17:01] abhsag24 opened #24 "Add Linter"
currently no linting is done to make the code PEP8 compliant. I guess its best we use coala https://github.com/coala/coala
though if anybody has other suggestions it'd be great. CC @ghoshbishakh

[2016-11-11 17:01] abhsag24 commented on #23
closing in favor of https://github.com/NIT-dgp/UIP/issues/24

[2016-11-11 17:01] #23 closed

[2016-11-11 17:01] abhsag24 commented on #22
closing in favor of https://github.com/NIT-dgp/UIP/issues/24

[2016-11-11 17:01] #22 closed

[2016-11-13 19:36] abhsag24 commented on #20
libdesktop does not work for windows with python3 which the application is built on

[2016-11-13 19:36] #20 closed

[2016-11-13 20:27] abhsag24 commented on #4
windows done :D

[2016-11-13 20:36] abhsag24 opened #27 "Add configuration file for various settings"
Example TIMEOUT, number of images to download, when to delete, location of the pics folder etc.

[2016-11-14 05:04] abhsag24 opened #28 "decapitalise RUN heading in README.md"
from
`RUN`
to
`Run`

[2016-11-14 07:06] abhsag24 commented on #24
i'll go with `coala` and add CI integrations to check if all commits are PEP8 compliant if no other suggestions come in by tomorrow :D

[2016-11-14 07:30] pandusonu2 commented on #27
Basically, need to make a script which modifies 'constants.py' file

[2016-11-14 07:32] pandusonu2 opened #30 "Flush images"
Once the set amount of images are downloaded, they keep on repeating and no new images are downloaded.
This needs to change, as- the more the merrier.

[2016-11-14 07:35] pandusonu2 opened #31 "Contributing.md should be added to readme.md"
This would make it easier for newcomers to read the guidelines.
One doesn't go all the way to check the contributing.md file to know how to contribute.

Its open source :P Keep it as open as possible.

[2016-11-14 08:01] abhsag24 opened #32 "add support for bmp files"
just add bmp to the list in scrape.py
change from:
[code]
to
[code]

[2016-11-14 08:06] abhsag24 commented on #30
related to https://github.com/NIT-dgp/UIP/issues/5

[2016-11-14 08:10] abhsag24 commented on #30
adding needs design because following facts need to be addressed from slack:
like for how long should we wait before

[1:38]
deleting the pic and all that?

[1:38]
what if a pic is shceduled to be deleted and it is the wallpaper at that moment

[2016-11-14 08:12] abhsag24 commented on #27
also settings as arguments would be good too, so i guess we have the issue in two parts, add settings.py, transfer some variables from constants.py into that file, and add support for command line arguments, both of these can be solved seperately.

[2016-11-14 08:44] abhsag24 opened #33 "Support other platforms like Instagram"
CC @PaliwalSparsh

[2016-11-15 05:34] abhsag24 opened #35 "Document scheduler and setWallpaper"

[2016-11-15 06:04] abhsag24 opened #36 "Add support for MacOS"
sadly none of our developers have a mac yet, so its impossble for us to test this right now :(

[2016-11-15 09:58] abhsag24 opened #37 "Package and upload to pip with version 0.0.1"
TSIA

[2016-11-15 10:01] abhsag24 commented on #6
will automatically be done once https://github.com/NIT-dgp/UIP/issues/27 is fixed

[2016-11-15 16:30] hasan356 commented on #32
i am working on it

[2016-11-15 16:34] ananyo2012 commented on #32
Great @hasan356 :+1: Ping us here or in the gitter channel if you need any help

[2016-11-15 17:09] hasan356 commented on #17
i am working on it

[2016-11-15 17:28] abhsag24 commented on #17
@hasan356  awesome :D feel free to ping us here, or gitter if you need any help

[2016-11-15 18:30] abhsag24 commented on #17
issue closed with: https://github.com/NIT-dgp/UIP/pull/3

@hasan356  should i suggest another issue?

[2016-11-15 18:30] #17 closed

[2016-11-15 18:44] hasan356 commented on #17
Yes please suggest

On 16 Nov 2016 12:00 a.m., "Abhay Raizada" <notifications@github.com> wrote:

[2016-11-15 19:00] hasan356 commented on #11
in which file we need to add an option

[2016-11-16 02:54] DarkSouL11 commented on #11
@abhsag24 Do you want the user to specify from which directory the wallpapers a applied or use the default one which you've specified.

[2016-11-16 03:06] abhsag24 opened #47 "scheduler: Remove DEBUG print"
above the function `initFetch`  there's a line `print("Anything")` remove this line

[2016-11-16 03:08] abhsag24 commented on #11
@hasan356 The option would be from `scheduler.py` There's a call to `initFetch` which calls `get_images` which connects to the internet. It'd be awesome if that call is optional.

[2016-11-16 03:10] abhsag24 commented on #11
@DarkSouL11 for this issue it'd be the default one. We do have an issue for giving the user option to change the folder, see https://github.com/NIT-dgp/UIP/issues/27

[2016-11-16 03:14] abhsag24 commented on #28
https://github.com/NIT-dgp/UIP/pull/40

[2016-11-16 03:14] #28 closed

[2016-11-16 03:29] abhsag24 commented on #31
also delete the previous CONTRIBUTING.md

[2016-11-16 03:50] abhsag24 commented on #17
how about https://github.com/NIT-dgp/UIP/issues/18

[2016-11-16 03:50] abhsag24 commented on #32
@hasan356 can't see the PR, are you sure you made it?

[2016-11-16 06:38] abhsag24 opened #51 "Put screenshot of a UIP wallpaper in Readme"
it will be a great way to advertise UIP.  The image should go inside an example folder and the screenshot in the readme should be under the heading `example`  right after `set up`

[2016-11-16 06:40] abhsag24 commented on #6
We will also need it to be in a away that pictures from both subreddits are downloaded

[2016-11-16 06:49] abhsag24 commented on #47
closed by https://github.com/NIT-dgp/UIP/pull/50

[2016-11-16 06:49] #47 closed

[2016-11-16 08:34] #18 closed

[2016-11-16 08:52] abhsag24 opened #55 "A nice message For UIP to show on the main screen"
in UIP.py print
[code]

[2016-11-16 08:56] DarkSouL11 opened #56 "Print a error message when the pics folder is empty"
It would be great to display a nicely formatted error message when the application is used in offline mode with the pics folder being empty.

[2016-11-16 20:03] abhsag24 opened #59 "Exit UIP cleanly with ctrl + C"
So right now pressing ctrl - c during execution gives a very ugly traceback: This should be avoided.

hint : put call to scheduler in UIP.py in a try except block with `KeynoardInterrupt` as exception then use sys.exit(0)

[2016-11-16 21:34] nkprince007 commented on #59
@abhsag24  should the script exit with no Traceback at all, even when it is in scheduler.py, or just when it is still excuting in UIP.py?

[2016-11-17 04:22] abhsag24 opened #61 "add setup.py and setup UIP for linux and mac."
for Windows we need py2exe and we'll add that our repo seperately after each release

[2016-11-17 09:40] abhsag24 opened #62 "Nice Exit message"
print `Exiting UIP hope you had a nice time :)`  before system exit in UIP.py

[2016-11-17 09:45] #59 closed

[2016-11-17 10:47] abhsag24 commented on #24
hey soi think i am gonna do this on my own though if anybody else is interested just pm me:
Steps are pip install coala, go to https://github.com/coala/coala-bears and download the PEP8Bear file
set it up most probably you'll have to download some libraries, document them. Add everything to Readme and then add the way to lint in CONTRIBUTING.md

[2016-11-17 10:50] abhsag24 opened #64 "Use arguments instead of raw input to start in offline mode"
For example to go into the offline mode a person should
do: `python3 UIP.py --offline`

[2016-11-17 10:52] abhsag24 opened #65 "Add command to Empty pics folder"
often the pics folder get's stale and then we get the same images repeatedly its best if there's a command to like `python3 UIP.py --flush` to delete all the pics in the pics folder

[2016-11-17 10:54] abhsag24 commented on #64
hint: use sys.argv :P

[2016-11-17 10:55] abhsag24 opened #66 "UIP.py: Move import sys at the top of file"
Generally all imports are to be declared at the top of the file unless due to a certain reason you should not.

[2016-11-17 11:33] abhsag24 opened #68 "scheduler.py: Remove function checkTime"
it was used earlier but now its obsolete and is just sitting there with no use :P

[2016-11-17 15:06] nkprince007 commented on #61
Could this issue be addressed by using python setuptools and pip? 🤔

[2016-11-17 15:35] abhsag24 commented on #61
Absolutely :D
Also see docutils

On 17-Nov-2016 8:36 PM, "Naveen Kumar Sangi" <notifications@github.com>
wrote:

[2016-11-17 16:06] abhsag24 commented on #61
@nkprince007  assigning you to this issue, tell me if you want to get unassigned

[2016-11-17 16:44] abhsag24 opened #71 "make change_wallpaper own library on pip"
AFAIK there's no library of this kind for python3 of this kind, and it can be an awesome tool for a lot of people to use CC@nkprince007 and @DarkSouL11

[2016-11-17 17:04] abhsag24 opened #72 "Rename Screenshot Section in Readme to Examples of UIP wallpapers"
and move this section above set UP

[2016-11-17 17:06] abhsag24 opened #73 "Add more Screenshots to Readme"
atleast 1 from windows and 1 from mac
@nkprince007 can you post the Mac screenshot here?

[2016-11-17 17:07] abhsag24 commented on #73
blocked till we can collect atleast 1 mac and 1 windows wallpaper

[2016-11-17 17:09] abhsag24 commented on #73
![screenshot 2](https://cloud.githubusercontent.com/assets/8532031/20399321/947db578-ad16-11e6-93d9-5bd6af81ed1d.png)

example for the windows wallpaper

[2016-11-17 17:36] Aniq55 commented on #65
You mean,a function to flush images from pics folder?

[2016-11-17 17:37] Aniq55 commented on #56
This issue is resolved.

[2016-11-17 17:38] abhsag24 commented on #65
yup! but the option should be taken as an argument
hint: sys.argsv

[2016-11-17 17:40] abhsag24 commented on #56
ahh yes thanks :D can you also open that KDE issue quickly if u have the time?

[2016-11-17 17:40] #56 closed

[2016-11-17 17:41] abhsag24 commented on #64
@DarkSouL11 can you do this since you've already worked on the file? it's kind of important?

[2016-11-17 17:42] abhsag24 commented on #64
i'm assigning tell me to unassign if you dont feel like doing this

[2016-11-17 17:45] #51 closed

[2016-11-17 17:49] DarkSouL11 commented on #71
@abhsag24 why are there 2 different tags of difficulty?

[2016-11-17 17:50] abhsag24 commented on #71
now there arent i removed the hard one :P

[2016-11-17 18:15] nkprince007 commented on #73
**example for mac wallpaper**

![5fb5cdba-ac6e-11e6-91d8-08e8bf0e6c57](https://cloud.githubusercontent.com/assets/17202890/20401710/eaf5f768-ad1f-11e6-9d34-ddf39149fca6.png)

[2016-11-17 18:22] DarkSouL11 commented on #64
I will do it :)
So I have to remove the option to go offline from raw_input?  or have both ?

[2016-11-17 18:26] abhsag24 commented on #64
remove the option from `input`

[2016-11-17 18:36] DarkSouL11 commented on #64
ok :thumbsup:

[2016-11-17 19:45] nkprince007 commented on #61
No, no, I'm interested in working on this.

[2016-11-17 20:02] abhsag24 opened #74 "organise code into folders"
let's use the structure:
[code]

[2016-11-17 21:41] nkprince007 commented on #61
To set this up, we need to use wheel, which inherently needs bundling in both python2 and python3. So we'll open an issue that addresses this and make the project compatible with both python 2 and 3.

[2016-11-17 21:42] abhsag24 commented on #61
@nkprince007 can you point to the documentation and why we need wheel exactly?

[2016-11-17 21:42] nkprince007 opened #75 "make the code universal (be it python2 or python3)"
use import __future__ to address the changes and let python2 work with our package.

[2016-11-17 21:43] abhsag24 commented on #75
we use bs4 that doesnt work with python2 right?

[2016-11-17 21:46] nkprince007 commented on #61
Universal wheels are shown [here](https://packaging.python.org/distributing/). As suggested by PyPI

[2016-11-17 21:53] nkprince007 commented on #75
Is it? But it says [here](https://www.crummy.com/software/BeautifulSoup/bs4/doc/) that it works on python2.7 and python3.4 alike.

[2016-11-17 21:54] nkprince007 commented on #61
But as suggested [here](https://www.digitalocean.com/community/tutorials/how-to-package-and-distribute-python-applications) we could use distutils too. What would you suggest bro? Universal packaging or just for python3?

[2016-11-17 21:54] abhsag24 commented on #75
ahh nice :D also on linux we use python3-gi :( ? which is python-gobject both have different import methods

[2016-11-17 21:55] abhsag24 commented on #75
do we really need wheels? wheels is just a feature right? we dont **need** it :P

[2016-11-17 21:57] nkprince007 commented on #75
yeah, we don't need it I guess. This just makes it way more complex to package. We'll go for distutils instead.

[2016-11-17 21:57] abhsag24 commented on #75
yes py2exe works with distutils as well :P

[2016-11-17 21:58] nkprince007 commented on #75
Ok, then, I'm closing the issue here.

[2016-11-17 21:58] #75 closed

[2016-11-17 22:01] abhsag24 commented on #61
@nkprince007 i suggest staying with python3 that's simpler

[2016-11-17 22:02] abhsag24 commented on #61
also we need to do this https://github.com/NIT-dgp/UIP/issues/74 before continuing right?

[2016-11-17 22:05] abhsag24 commented on #61
@nkprince007 can you join us on gitter?

[2016-11-17 23:47] #24 closed

[2016-11-17 23:47] #31 closed

[2016-11-18 00:24] nkprince007 opened #77 "stop showing random numbers on exit"
The below clip showcases the issue, as the user presses Ctrl+C, the script shows a random number before exit.

![screen shot 2016-11-18 at 4 00 21 am](https://cloud.githubusercontent.com/assets/17202890/20413493/50cd701a-ad53-11e6-9138-9bb1cbcb203c.png)

[2016-11-18 00:38] nkprince007 commented on #74
test -I __pycache__
.
├── README.md
├── UIP.py
├── bears
│   ├── LineLengthBear.py
│   ├── PEP8Bear.py
│   └── SpaceConsistencyBear.py
├── examples
│   └── UIP_screenshot.png
├── mac-requirements.txt
├── pics
├── requirements.txt
├── tests
│   └── __init__.py
└── uiplib
    ├── constants.py
    ├── scheduler.py
    ├── scrape.py
    └── setWallpaper.py

5 directories, 13 files

Is this structure o

[2016-11-18 05:46] abhsag24 commented on #74
yup this is awesome :D add the `__init__.py` to uiplib as well, and beware u'll have to fix all the imports :P

[2016-11-18 05:48] nkprince007 commented on #74
Ok, bro.. :+1:

[2016-11-18 05:53] abhsag24 commented on #77
code areas:
1. https://github.com/NIT-dgp/UIP/blob/master/setWallpaper.py#L28 the print in windows desktop changer
2. https://github.com/NIT-dgp/UIP/blob/master/scheduler.py#L14 the `print(time.time())`

[2016-11-18 06:19] abhsag24 opened #78 "Correct Readme to write supported OS'"
right now Readme states, `"applies wallpaper in a gnome desktop" change this "applies wallpaper on your desktop. Works with windows, mac and gtk based desktops on Linux"

[2016-11-18 06:28] nkprince007 opened #79 "doesn't download wallpapers when pics directory exists and is empty"
[code]

Needs fixing the use of os.path.isdir combined with os.path.exists

[2016-11-18 06:31] nkprince007 commented on #74
Is this okay bro?

[code]

[2016-11-18 07:06] #74 closed

[2016-11-18 07:06] #79 closed

[2016-11-18 12:06] #32 closed

[2016-11-18 12:08] #64 closed

[2016-11-18 12:36] abhsag24 opened #84 "Fix travis"
right now it passes everything

[2016-11-18 12:41] abhsag24 opened #85 "make pip test-requirements.txt"
and add `coala~=0.9.0`

[2016-11-18 13:21] #78 closed

[2016-11-18 13:40] #11 closed

[2016-11-18 15:38] #84 closed

[2016-11-18 15:50] mayank1495 commented on #66
"Import sys" I guess is already at the top of the file UIP.py @abhsag24 .

[2016-11-18 15:51] abhsag24 commented on #66
ahh yess i guess @DarkSouL11 did it in his PR today sorry ill close the issue

[2016-11-18 15:51] #66 closed

[2016-11-18 18:05] abhsag24 opened #87 "windows doesn't need sudo"
write a note in readme telling windows users to not use sudo

[2016-11-18 18:21] mayank1495 opened #88 "Not all images are downloaded"
The script downloads image only from the first page in which only few "hrefs" end in "jpg,png..etc". Hence out of the first 25 links only around 4-5 images are downloaded.

[2016-11-18 18:23] abhsag24 commented on #88
can you type in the steps to reproduce this?

[2016-11-18 18:34] abhsag24 commented on #88
currently we get the full 15 images that are to be downloaded

[2016-11-18 18:39] pandusonu2 opened #89 "Shortcut to change wallpaper without waiting for timeout"
I want a shortcut to change the wallpaper before timeout.
I might not like a currently set random wallpaper. I would like to have an option to change it rather than wait for the timespan.

[2016-11-18 18:39] abhsag24 commented on #88
yes checed reddit.com/r/wallpapers those tyes of posts have just started coming in

[2016-11-18 18:41] abhsag24 commented on #88
i guess instead of collecting 15 links we collect all links till we get 15 with suitable extensions

[2016-11-18 18:41] mayank1495 commented on #88
I am windows.
1. While in project folder i run in cmd: `py -3 UIP.py`
2.It started downloading and then showed changing wallpaper to <path name>
3.Now when i checked my pics folder it had 4 images.
4.I renamed it to pic2. Repeated the process it again had 4 images.
![capture](https://cloud.githubusercontent.com/assets/14853345/20441952/9e6f8ac6-adec-11e6-8393-f86c268a10f7.JPG)

[2016-11-18 18:42] mayank1495 commented on #88
Yeah right. We need to run it till we get the number of images we want.

[2016-11-18 18:48] mayank1495 commented on #89
Can you tell whats the current timespan @pandusonu2 ? Windows seems to have another problem.

[2016-11-18 18:50] pandusonu2 commented on #89
Ah..... you set it in constants.py

[2016-11-18 19:03] mayank1495 opened #90 "Wallpaper not changing on windows"
I changed the **TIMEOUT** from **"30*60" to "120"** which i guess would mean the wallpaper should change at an interval of 2mins.
But the wallpaper did not change at all. Instead every time i run the script, wallpaper changes but fails to change for the given interval.

![capture2](https://cloud.githubusercontent.com/assets/14853345/20442654/7fdcb0f4-adef-11e6-9949-c064929d0616.JPG)
![capture3](ht

[2016-11-19 01:43] nkprince007 commented on #73
I think, the block on this issue could be removed.. and fix could be applied in the readme section

[2016-11-19 02:57] #55 closed

[2016-11-19 09:17] abhsag24 opened #95 "flag options for all settings"
also use `argparse` library for this.

[2016-11-19 11:02] #87 closed

[2016-11-19 11:03] PaliwalSparsh opened #97 "Create UIP as a service"
Keeping command prompt open all the time is always a problem for me if UIP could run as service in background like stay in system tray, that would be really awesome as a user for me.

[2016-11-19 11:14] #77 closed

[2016-11-19 11:22] #68 closed

[2016-11-19 12:36] #61 closed

[2016-11-19 12:38] #89 closed

[2016-11-19 18:57] #73 closed

[2016-11-19 19:01] abhsag24 commented on #97
i think it should be used as a service on all OS'

[2016-11-19 19:30] #36 closed

[2016-11-19 19:33] #65 closed

[2016-11-19 19:38] abhsag24 opened #102 "Add "Press ctrl-c to exit" on welcome message"

[2016-11-19 19:50] abhsag24 opened #103 "Use colorama for a nice interface"

[2016-11-19 21:25] nkprince007 commented on #12
I would recommend [this](unsplash.com) bro

[2016-11-19 21:25] nkprince007 commented on #12
It provides an API too..

[2016-11-20 03:44] nkprince007 commented on #95
@abhsag24 could you specify all the settings that need to be added as flags?

[2016-11-20 03:48] nkprince007 opened #107 "Change README.md to remove extra lines in installation"
`python setup.py install`
automatically installs all the dependencies

So we don't need to do
`pip install -r requirements.txt`
`pip install -r mac-requirements.txt`

although ofcourse you'd still need pygobject on debian/wheezy platforms

so, remove the above lines in README.md, as specified.

[2016-11-20 03:55] Aniq55 opened #108 "Change the headings in README.md to title case"

[2016-11-20 03:56] Aniq55 commented on #108
difficulty/newcomer

[2016-11-20 05:01] nkprince007 commented on #90
@mayank1495, TIMEOUT is specified in seconds, I guess.

[2016-11-20 06:18] abhsag24 commented on #108
title_case = only first letter capitalised :D

[2016-11-20 06:20] abhsag24 commented on #95
sure i'll list all settings even if they aren't on UIP at the moment :P

[2016-11-20 07:00] nkprince007 opened #111 "Use unsplash.com for fetching wallpapers"
unsplash.com provides free wallpapers with **Free (do whatever you want) high-resolution photos.**

So, we could use this to build a better UIP

[2016-11-20 07:25] abhsag24 commented on #90
hey so i did this and it changed for me :(

[2016-11-20 07:25] abhsag24 commented on #90
i'm on windows 10, 64 bit

[2016-11-20 07:55] abhsag24 commented on #111
@nkprince007 should we make a scrape submodule from scraping from different websites? :P

[2016-11-20 07:59] abhsag24 opened #112 "Need GUI"
i think UIP is stable enough, especially after --flush, to have a GUI

[2016-11-20 08:04] abhsag24 commented on #30
closed by @nkprince007 's PR

[2016-11-20 08:04] #30 closed

[2016-11-20 08:13] abhsag24 opened #113 "add flag to set UIP pics directory"
currently it creates directory in folder where UIP is called from

[2016-11-20 08:29] nkprince007 commented on #112
This takes it way beyond, I guess. But don't know if we could make it cross-platform.

[2016-11-20 08:30] nkprince007 commented on #113
But, I think it's better if we add a flag specifying where to download them to.. what'd you say @abhsag24

[2016-11-20 08:30] abhsag24 commented on #112
@nkprince007 we could use qt or gtk those are already cross-platform right? we cant make native ui's sadly :(

[2016-11-20 08:34] abhsag24 commented on #113
@nkprince007 yes and if that isn't specified store them in temp

[2016-11-20 11:14] #72 closed

[2016-11-20 11:18] Aniq55 commented on #33
download pictures from instagram you mean? o_O

[2016-11-20 11:22] Aniq55 commented on #12
I think [QuoteFancy](https://quotefancy.com) would be a great place to take pics from. But they also have a page in [Reddit](https://www.reddit.com/r/Quotefancy/)

[2016-11-20 11:23] abhsag24 commented on #33
yup :P

[2016-11-20 11:25] Aniq55 commented on #33
random images or top posts of a given hashtag? If the user feeds in a particular hashtag, I think that would be better.

[2016-11-20 11:57] Aniq55 opened #117 "Create a settings json file or settings.py"
The user inputs the time interval in minutes after which the images get changed.

[2016-11-20 11:57] Aniq55 commented on #117
feature request

[2016-11-20 13:59] akshatnitd opened #118 "page.sh: Remove un-necessary log message"
The log generated by the wget command is un-necessarily printed onto the terminal.
Redirect the output on a ```log.txt``` file and remove the file at the end

[2016-11-20 14:03] #118 closed

[2016-11-20 17:39] nkprince007 commented on #112
What do we use Tkinter or PyQt? I'd recommend PyQt, bro. Since I've had a small experience with Qt-C++ variant.

[2016-11-20 17:47] #62 closed

[2016-11-20 17:53] abhsag24 commented on #112
i'm all for PyQt :P depends on the implementer

[2016-11-20 17:57] abhsag24 commented on #117
hey so since there are requests why not change constants.py to settings.py?

[2016-11-20 19:43] pandusonu2 opened #119 "Iterate pictures folder present in system"
This is a standard feature, which I don't think UIP implements yet.
To randomly select and change wallpapers from a given folder.
REMINDER: Flush should be turned off if this is selected.

[2016-11-20 19:59] pandusonu2 opened #120 "Immediate delete wallpapers."
Not sure if this is a proper issue, but I propose to add an option which deletes a downloaded wallpaper as soon as it sets it as wallpaper. Kinda like "immediate flush"

[2016-11-20 20:14] pandusonu2 opened #121 "Option to save favourites"
Some wallpapers are better than the other.
I would like an option to save the present wallpaper into some local folder by which it is immune to --flush

[2016-11-20 20:42] nkprince007 commented on #120
That could cause a serious bug on **macOS**, as it sets wallpaper based on **file symlinking** and **does not copy the file**. The sole purpose of this application would fail.

[2016-11-20 20:43] nkprince007 commented on #121
This seems really cool.

[2016-11-20 20:44] pandusonu2 commented on #120
Then delete the previous wallpaper while applying new one?
Just some way to make flush immediate rather than forced.

[2016-11-20 20:52] pandusonu2 commented on #5
Aint this issue closed along with #30 ?

[2016-11-20 22:49] nkprince007 commented on #120
Looks like that bug I discussed about is perfectly squashed on OS X 10.11.3 and greater, so, I think we could do the immediate flush.

Or we could wait until someone from windows confirms this too.

[2016-11-21 04:45] abhsag24 commented on #120
windows copies the file,delete as soon as changed is better. we would have to keep downloading new wallpapers then,but i guess thats a new issue

[2016-11-21 04:46] abhsag24 commented on #5
yes the implentation in #30 is better closing this

[2016-11-21 04:48] abhsag24 commented on #119
flush doesn't work until you specify it to :D

[2016-11-21 04:56] abhsag24 opened #123 "Tinker with Wallpaper"
add quotes, blur, text from other apps?

[2016-11-21 05:02] abhsag24 opened #124 "Add imgur support"
reddit r/wallpapers and other subreddits often redirect to imgur it'd be best if we could take images off of them :P

[2016-11-21 05:03] abhsag24 opened #125 "remove download percentage"
it doesn't work perfectly, and it just makes the interface looks bad the user doesnt need to know how we download :D

[2016-11-21 05:23] abhsag24 opened #126 "Run at startup"
make UIP run at startup for all OS' :D

[2016-11-21 07:20] DarkSouL11 opened #128 "Limit CPU usage"
The present script uses all the CPU available which is not obviously good. Make the required changes so that it doesn't use much of CPU.

![screenshot from 2016-11-21 10-42-45](https://cloud.githubusercontent.com/assets/8626394/20473977/fd393422-afe9-11e6-811a-63c75d4732f7.png)

[2016-11-21 07:33] DarkSouL11 opened #129 "Setup.py: Add comments"
Add comments to the fields `license` and `url` in setup.py.

[2016-11-21 09:19] DarkSouL11 commented on #113
@abhsag24 don't you think it's better to have the default download location as the standard pictures directory of the OS.

[2016-11-21 09:47] #88 closed

[2016-11-21 10:21] abhsag24 commented on #113
@DarkSouL11 i'm not sure about standard pics folder but im all for a default folder

[2016-11-21 11:12] Aniq55 commented on #128
I've limited CPU usage to roughly 33%, will that be okay?

[2016-11-21 15:06] nkprince007 opened #134 "Remove traceback for other exceptions"
Provide nice message when UIP terminates unexpectedly, like in case of `404` or running UIP in online mode without internet connection.

Most of the issues here are from `urllib.error.URLError`
Have a deep dive into documentation and provide necessary feedback to the user.

[2016-11-21 15:36] DarkSouL11 opened #135 "Add detailed instructions to install coala in README.md"
UIP uses coala for linting.The present "how to contribute" section has instructions to install coala, however those instructions are not sufficient and users have ended up installing pip and coala on python 2.Coala works only with python 3, so update readme with instructions to install pip and coala for python3.

To install pip for python3 use `apt-get install python3-pip`.
for coala: `pip3 instal

[2016-11-21 17:41] #125 closed

[2016-11-21 20:48] abhsag24 opened #136 "Design Logo :D"
just for fun :P will look good on our readme and our future pypi page :D

[2016-11-21 23:18] Aniq55 commented on #136
Please assign this task to me. I make awesome logos. (:
On Nov 22, 2016 02:18, "Abhay Raizada" <notifications@github.com> wrote:

[2016-11-22 01:56] DarkSouL11 commented on #136
done @Aniq55

[2016-11-22 07:21] abhsag24 opened #138 "UIP not downloading images"
its happening since yesterday im not sure if its my internet?  can anyone reproduce?

[2016-11-22 07:34] Aniq55 commented on #136
![uip_logo_v1](https://cloud.githubusercontent.com/assets/20151858/20514800/160462c2-b0b4-11e6-93ce-d834d0fc11f6.png)
UIP_logo1_aniq55

[2016-11-22 07:34] DarkSouL11 commented on #138
Same thing happens with me too, Internet is not the reason tested it using my mobile data also.

[2016-11-22 07:34] Aniq55 commented on #136
![uip_logo_v2](https://cloud.githubusercontent.com/assets/20151858/20514811/27aad52e-b0b4-11e6-8d99-210d89c1fb71.png)
UIP_logo2_aniq55

[2016-11-22 07:34] Aniq55 commented on #136
![uip_logo_v3](https://cloud.githubusercontent.com/assets/20151858/20514818/2d6bc4c8-b0b4-11e6-9dd5-299f4ca13545.png)
UIP_logo3_aniq55

[2016-11-22 07:37] Aniq55 commented on #136
![uip_logo_v4](https://cloud.githubusercontent.com/assets/20151858/20514903/972d959e-b0b4-11e6-82cb-554a84d1d004.png)
UIP_logo4_aniq55

[2016-11-22 07:38] abhsag24 commented on #138
i'll investigate today

[2016-11-22 08:16] nkprince007 commented on #136
Not quite sure, but I'd rather suggest something with a round logo.. macOS icons are always round.. 😛

[2016-11-22 08:17] DarkSouL11 commented on #136
@nkprince007 just for fun I am also trying to make a logo. Please wait till evening I'll post that too :)

[2016-11-22 08:17] Aniq55 commented on #136
The logo will lose its 'edge' if it's made round. XD
On Nov 22, 2016 1:46 PM, "Naveen Kumar Sangi" <notifications@github.com>
wrote:

[2016-11-22 08:23] abhsag24 opened #139 "concurrently download from two urls"

[2016-11-22 21:40] nkprince007 commented on #138
I checked out to `14d0ff5` and tried downloading, still no luck.

[2016-11-23 11:59] #102 closed

[2016-11-23 12:12] #128 closed

[2016-11-23 14:23] #138 closed

[2016-11-23 19:10] Aniq55 commented on #121
Wouldnt it be better if this is implemented in the GUI version?

[2016-11-24 04:37] abhsag24 commented on #121
i dont think we should wait, this should be absolutely necessary after https://github.com/NIT-dgp/UIP/issues/120 , which i think is going to be the next big thing :P

[2016-11-24 08:49] akshatnitd opened #142 "Unable to change wallpapers due to root access issue"
```.uip``` needs root access to download images into it. Also even if called using sudo it does download images but is unable to change the wallpaper . So, we need to change the directory location.

[2016-11-24 13:03] #111 closed

[2016-11-24 13:51] abhsag24 opened #143 "Readme: cleanup setUp"
have two parts, For Users, and For developers, Users: setup is: `pip install UIP`. Developers setup is the current setup

[2016-11-24 13:52] abhsag24 opened #144 "Use unsplash API"
we use their css classes for scraping it'd be awesome if we could use their API

[2016-11-26 10:05] abhsag24 opened #146 "Credit the creator"
edit the image to show the uploaders name on the bottom right.
Hint: Use PIL for image manipulation

[2016-11-26 10:07] abhsag24 opened #147 "Add option to blur image"
people prefer to have blurred images to have icons stand out more, it'd be awesome to have that feature for UIP. HINT: Use PIL

[2016-11-26 10:51] nkprince007 commented on #146
Although showing the uploader's name seems good and legit..
But generally, I wipe those things before I change wallpapers... :P

[2016-11-26 10:53] abhsag24 commented on #146
@nkprince007 then we can have a flag loke --no-décor to avoid any sort of manupilation with the image

[2016-11-26 11:33] nkprince007 commented on #146
That's good, bro @abhsag24

[2016-11-26 11:40] DarkSouL11 commented on #147
This would be an awesome feature to have :smile:

[2016-11-26 11:45] nkprince007 opened #148 "Add setup in readme for arch platform"
readme doesn't provide with details on how to setup pygobject for other platforms like arch

[2016-11-26 11:47] Aniq55 commented on #136
![uip_logo_v6](https://cloud.githubusercontent.com/assets/20151858/20640127/1ed0f348-b3fc-11e6-9311-12a4fcab985b.png)
UIP_logo5_aniq55

[2016-11-26 11:47] Aniq55 commented on #136
![uip_logo_v7](https://cloud.githubusercontent.com/assets/20151858/20640131/2b1f631e-b3fc-11e6-862b-b697c92c6c52.png)
UIP_logo6_aniq55

[2016-11-26 11:53] DarkSouL11 commented on #136
![img2](https://cloud.githubusercontent.com/assets/8626394/20640161/fab9d97e-b3fc-11e6-8710-0f582c4aea89.jpeg)

[2016-11-26 11:53] DarkSouL11 commented on #136
![img1](https://cloud.githubusercontent.com/assets/8626394/20640164/0a40191c-b3fd-11e6-9bc2-cc75a276b7c4.jpeg)

[2016-11-26 12:05] #107 closed

[2016-11-26 18:00] #97 closed

[2016-11-26 18:00] #148 closed

[2016-11-26 18:03] abhsag24 opened #150 "add pygobject to to linux-requirements.txt"
also change all references to it

[2016-11-26 18:11] abhsag24 opened #151 "Add service --start"
collect metadata about each image

[2016-11-26 20:23] abhsag24 opened #152 "Documentation"

[2016-11-27 04:47] #150 closed

[2016-11-27 04:51] #143 closed

[2016-11-27 08:29] sreeparna0795 commented on #129
Can you explain a little what changes needs to be incorporated in this? Couldnt understand from the description...

[2016-11-27 08:53] abhsag24 commented on #129
@sreeparna0795 changed the issue :P remove all comments they are nondescriptive andjust take up lines

[2016-11-27 18:36] nkprince007 opened #156 "Correct the README"
Remove grammatical errors, if any. For example, like, `privileges` instead of `privelages`.. and so.

[2016-11-27 19:18] abhsag24 opened #157 "add UIP --service skip"

[2016-11-28 16:40] abhsag24 opened #158 "make settings.json pretty"
right now its just one line format it into multiple lines

[2016-11-28 16:48] abhsag24 opened #159 "setup.py: Add more sites by default"
we have only `r/wallpapers` right now we can have:
[code]

[2016-11-28 16:56] abhsag24 commented on #123
closing in favour of https://github.com/NIT-dgp/UIP/issues/147 and https://github.com/NIT-dgp/UIP/issues/146

[2016-11-28 16:56] #123 closed

[2016-11-29 04:26] abhsag24 opened #160 "Make Wallpaper class, with set and get attributes"
good for testing purpose

[2016-11-29 04:32] abhsag24 opened #161 "Avoid on the fly creation of directories"
set Up all directories in `setup.py` and remove all creation or deletion of directories from within the code
in `--flush` remove contents instead of directory

[2016-11-29 05:36] abhsag24 opened #162 "support wallpapers.net"

[2016-11-29 05:52] abhsag24 opened #163 "Mention Settings.json in Readme"
and also how to edit it for various purposes

[2016-11-29 05:54] abhsag24 commented on #117
hey so this is closed with the latest release, a settings.json is created at `/home/.uip/settings.json`

[2016-11-29 05:54] #117 closed

[2016-11-29 08:19] #15 closed

[2016-11-29 08:19] #7 closed

[2016-11-29 08:19] #6 closed

[2016-11-29 08:19] #27 closed

[2016-11-29 08:21] #139 closed

[2016-11-29 11:30] #85 closed

[2016-11-29 17:56] abhsag24 opened #165 "scrape: Add test for Unsplash.com"
CC @akshatnitd since you already added this feature.
Hint: see `test_get_reddit_image_links`

[2016-11-29 19:48] akshatnitd commented on #165
Will be working on it! :smile:

[2016-11-30 04:55] abhsag24 commented on #165
Steps:
1. Make a simple html string that is structured like unsplash.com
2. let the part run over it
3. check wether the extracted links are right :)

[2016-11-30 07:52] akshatnitd commented on #144
@abhsag24 Could we use ```https://source.unsplash.com/random``` to download random images from unsplash ? Or else, we can get a json from ```https://unsplash.it/list```? The only problem with the latter is that it return the same json everytime!

[2016-11-30 08:02] akshatnitd commented on #144
@abhsag24 If we do this part first, then issue #165 can be solved at once!

[2016-11-30 08:07] abhsag24 commented on #144
@akshatnitd are u sure https://unsplash.it/list returns the same list? it would be updated in some time right?

[2016-11-30 08:08] abhsag24 commented on #144
https://source.unsplash.com/random is also good if u can extract multiple links

[2016-11-30 08:14] akshatnitd commented on #144
@abhsag24 It returns the json the same list... And also https://unsplash.it isn't the ofiifcial API for unsplash.

[2016-11-30 08:35] abhsag24 commented on #144
i think this should be a step in the direction of: https://github.com/NIT-dgp/UIP/issues/120 like we download 4-5 wallpapers every time a wallpepr is changed it gets deleted and a new one gets downloaded

[2016-11-30 08:41] akshatnitd commented on #144
@abhsag24 We could also randomly select links from the json. In this way, the entire code structure would be uniform for reddit and unsplash. What say?

[2016-11-30 08:47] abhsag24 commented on #144
@akshatnitd  but you said itsnt update right?

[2016-11-30 08:50] akshatnitd commented on #144
@abhsag24 Yes, it already has around 1100 pics I guess... So, would it be the right way? Or else we need to work on extracting multiple links

[2016-11-30 10:08] abhsag24 commented on #144
@akshatnitd I guess our present structure is better than both the cases right? I think let's stick to that till we find a better Alternative, and you can just add tests for that :P

[2016-11-30 10:10] akshatnitd commented on #144
@abhsag24 Yes, will do that :+1:

[2016-11-30 15:38] #165 closed

[2016-12-01 07:20] nemaniarjun commented on #159
would like to work on this.

[2016-12-01 07:32] abhsag24 commented on #159
Sure go ahead, if you need anything contact us on gitter

On 01-Dec-2016 12:50 PM, "Arjun Nemani" <notifications@github.com> wrote:

[2016-12-01 08:42] nemaniarjun commented on #157
Would like to do this. A little eleaboration is needed.

[2016-12-01 08:42] nemaniarjun commented on #157
Would like to do this. A little elaboration is needed.

[2016-12-01 09:49] abhsag24 commented on #157
@nemaniarjun so we have a press enter to skip feature, when UIP is running normally, we'd want this when UIP is running as a service. while UIP is running if you press `UIP --service --skip` or even a simple `UIP --skip` without a service should change the present wallpaper

[2016-12-01 09:50] #159 closed

[2016-12-01 09:51] nemaniarjun commented on #157
Paraphrasing: When UIP is running as a service, use the `UIP --skip` to skip the wallpaper?

Assign me to this :)

[2016-12-01 09:52] abhsag24 commented on #157
@nemaniarjun sadly cause of github only org members can be assigned :( . But feel free to comment on any issue and claim it :D

[2016-12-01 09:57] nemaniarjun commented on #157
Never worked with services before... If I do UIP --skip when the service is not running, It will start UIP as a service first? Is that correct?

[2016-12-01 10:03] abhsag24 commented on #157
@nemaniarjun That'll happen if you `UIP --service start --skip` . i guess just skip wallpaper and exit.

[2016-12-01 10:04] nemaniarjun commented on #157
Will look into the code and see if it clarifies my doubt :+1:

[2016-12-02 13:08] abhsag24 commented on #135
closed after we moved to `test-requirements.txt`

[2016-12-02 13:08] #135 closed

[2016-12-02 13:13] abhsag24 opened #169 "Readme: Set Up: add git clone step"
Before we tell our new developers to install by `python3 setup.py install` it'd be better if we can tell them how to get the source first. i.e. by doing: `git clone https://github.com/NIT-dgp/UIP.git`

[2016-12-02 13:16] abhsag24 opened #170 "Complete tests for scrape.py"
tests for scrape.py dont hit all target lines for eg:  https://codecov.io/gh/NIT-dgp/UIP/src/1dccfdd36dcc37468d8007b157b9c97d3164485a/uiplib/scrape.py
contains lines where tests dont hit. it'll be best if we can add tests for those lines.

[2016-12-02 13:16] abhsag24 opened #171 "scheduler.py: Add tests."

[2016-12-02 13:18] abhsag24 opened #172 "Put limit on images downloaded as a whole"
right now we have a limit on number of images from each site. it'd be better if we could limit that to number of images downloaded as a whole

[2016-12-02 18:57] nemaniarjun opened #173 "Add newcomer guide to Readme"
In readme, `How to contribute` can contain a link to coala's newcomer guide.
Just because its extremely helpful.

http://docs.coala.io/en/latest/Developers/Newcomers_Guide.html

[2016-12-02 19:32] abhsag24 commented on #173
Add it as a note in the How to Contribute Section like: `Note: If you're an absolute newcomer [this guide](<link to guide>) might help you out. Though keep in mind some of the standards are different.`

[2016-12-03 09:56] Diptanshu8 opened #174 "Add the description for necessity of python 3.5 for latest build to README file"
The latest build for UIP requires python 3.5 and above version for proper setup and this is missing in the README file.

[2016-12-03 09:59] abhsag24 commented on #174
Add `we only support python 3.5` as a note in the set UP section

[2016-12-03 10:52] abhsag24 opened #175 "pygobject not pip downloadable in Ubuntu"
steps:
1.Remove `linux-requirements.txt` make changes in setup.py
2.Add steps to install python3-gi in the README

[2016-12-04 04:41] abhsag24 opened #176 "Automatically install pygoobject for linux users"
1.Download from source  maybe keep our own file [here](https://github.com/NIT-dgp/UIP-misc)
2.Automatic extract
3.Run setup.py install automatically.

or maybe we can upload our own version on pypi

CC @pandusonu2  maybe you could throw some light on this issue? if this is the right way to go?

[2016-12-04 04:47] abhsag24 commented on #175
CC @Diptanshu8

[2016-12-04 09:06] abhsag24 opened #177 "Collect image metadata"
it is possible for reddit. Not Sure if it's possible for unsplash: would be very useful for subreddits like say: `r/HistoryPorn`

[2016-12-04 11:13] pandusonu2 commented on #176
I think arch users will have better idea about this. As in Arch, the software is downloaded right from the source and installed. So @ghoshbishakh @nkprince007 Any idea?

[2016-12-04 12:36] Diptanshu8 opened #178 "No proxy support for UIP users"
For all the users who are using behind UIP from behind a proxy network, requests module used in scrape.py needs to be specified with a proxy configuration. This feature is not available.
There are multiple ways to do so:
1. Either we add params to the argparse while running UIP
2. We create a configuration file specifying the proxies. Then we add a tutorial for writing a config file for the user i

[2016-12-04 12:40] Diptanshu8 commented on #178
I would be working on the second option as of now to get the proxy settings up and working.

[2016-12-04 15:50] abhsag24 commented on #178
@Diptanshu8  see `settings.json` in `/home/<user>/.uip/settings.json`

[2016-12-04 15:50] abhsag24 commented on #178
and also see settings.py

[2016-12-04 18:51] nemaniarjun commented on #142
Change the default folder from `~/.uip` to `~/uip-pics` or similar

[2016-12-05 10:02] abhsag24 opened #181 "Create custom exit wrapper to exit"
make sure:
1. it closes any processes, threads running
2. deletes `daemon-uip.pid`
3. prints exits message
4. exits

[2016-12-06 08:34] abhsag24 opened #183 "add setuptools required in readme"
in the setup section for developers add: ```Make sure you have setuptools, to do that  run `pip install setuptools` ```

[2016-12-06 09:27] #142 closed

[2016-12-06 09:31] abhsag24 opened #184 "utils.py: make custom makedirs"
so currently we make dirs using os.makedirs now this is a problem since dirs on linux require os.chmod(), lets make a custom makedirs function which can detect all this on itself and make dirs accordingly so we can get rid of those if statements

[2016-12-06 10:06] abhsag24 commented on #178
@Diptanshu8 did you get around to doing this?

[2016-12-06 22:50] hackrush01 commented on #142
It is still not working without sudo command. I have checked the program in a debian flavor.

[2016-12-07 03:04] abhsag24 commented on #142
@hackrush01 can you post a tracback? it might be an issue specific to you?

[2016-12-07 03:53] #174 closed

[2016-12-07 04:52] hackrush01 commented on #142
It is not an error of that sort. Everything is working fine. it even displays changing wallpaper but doesn't change it.

[2016-12-07 05:52] abhsag24 commented on #142
can you open a new issue regarding this? please add which how you installed UIP, and what OS you are running?

[2016-12-07 05:56] hackrush01 commented on #142
I already have a fix. Does it need a new issue?

[2016-12-07 05:56] hackrush01 commented on #142
I already have a fix. Does it need a new issue?

[2016-12-07 05:58] abhsag24 commented on #142
@hackrush01 i'm not sure that fix changes anything cause we have 777 permissions on all folders. We need to get to the source of the problem before applying random fixes right? and if we then find your fix the best solution we merge that?

[2016-12-07 05:59] abhsag24 commented on #142
FWIW i have Ubuntu 16.04 and it worksperfectly for me

[2016-12-07 07:48] hackrush01 commented on #142
Looks like it is fixed. I reinstalled using setup.py install and it worked. Earlier it created the ```.uip``` directory in the ```/root``` folder. This time it created it in the home folder.

[2016-12-07 08:13] abhsag24 commented on #142
pip version is broken for ubuntu i'll do a new release once: #187 and #185 are merged

[2016-12-07 08:14] abhsag24 opened #188 "check python version in setup and discontinue if less than 3.5"

[2016-12-07 09:47] hackrush01 commented on #142
I didn't do a pip install. And I was using Kali Rolling 2016.2.

[2016-12-07 10:53] abhsag24 opened #190 "GUI: Have another tab to change settings"
so the settings are directly configurable

[2016-12-07 10:54] abhsag24 opened #191 "GUI: Have a schedule button"
instead of download maybe?

[2016-12-07 10:56] abhsag24 opened #192 "GUI: Download lesser sized images for preview"
download preview sized images for preview and then download the entire image when setWallpaper is called

[2016-12-07 15:39] #188 closed

[2016-12-07 15:47] abhsag24 opened #194 "create a Printer class"
which has `Normal DEBUG and WARNING` args'
and we should display everything with the print class, including errors and information messages.

[2016-12-07 15:47] abhsag24 commented on #194
or we could also use PyPrint

[2016-12-07 15:49] abhsag24 opened #195 "exit cleanly"
right now we just exit by sys.exit(0) we need a wrapper around this which kill all subprocess, threads if any, deletes `daemon-uip.pid` and prints the exit message

[2016-12-07 17:00] #184 closed

[2016-12-07 17:04] nemaniarjun opened #196 "GUI requirements should only be imported if UIP --ui is run"
Even if you run UIP, it gives a error about importing some modules.

[2016-12-07 17:05] abhsag24 commented on #196
move the import Imagetk in `set_image` in `GUI.py`

[2016-12-07 17:06] abhsag24 opened #197 "GUI: minimize to system tray when closed"

[2016-12-07 17:20] nemaniarjun commented on #196
@abhsag24
That was not the solution.
Created a PR.

[2016-12-07 17:23] #196 closed

[2016-12-07 17:30] nkprince007 opened #199 "Make GUI window resizable"
GUI Window is now fixed to be of a specific size. Improve it to have resizability while not sacrificing frame bounds and provide responsiveness.

[2016-12-07 18:28] abhsag24 commented on #199
@nkprince00 is this important? why not leave it at a fixed size?

[2016-12-07 18:43] nkprince007 commented on #199
More like an enhancement feature.. :P

[2016-12-07 19:08] nkprince007 commented on #197
How exactly do we tackle this? GDE and Unity don't have system tray, right?

[2016-12-07 21:42] hackrush01 opened #200 "GUI not starting."
If run with ```UIP --ui``` it produces the following message.

![uip ui error](https://cloud.githubusercontent.com/assets/17583974/20987820/1b2c8e5e-bcf4-11e6-9954-68334425b87b.jpg)

[2016-12-08 00:21] abhsag24 commented on #200
@hackrush01 yes you need to download imagetk for your OS it isnt packaged with UIP

[2016-12-08 00:24] abhsag24 opened #201 "Readme: Add instructions for GUI in Run"
add that you need to install Imagetk on your os, and to run u need to do `UIP --ui`

[2016-12-08 00:25] abhsag24 commented on #200
opened this for you. https://github.com/NIT-dgp/UIP/issues/201

[2016-12-08 11:33] abhsag24 commented on #197
yes neither do KDE and windows and Mac, but i guess there are thrid party services that do this, we've got to search

[2016-12-08 13:00] hackrush01 commented on #201
Are you using PIL for python3? Is it available?

[2016-12-08 13:10] nkprince007 commented on #201
No, PIL is deprecated, Pillow is under maintainence. @hackrush01

[2016-12-08 13:11] hackrush01 commented on #201
What should I use then?

[2016-12-08 13:14] nkprince007 commented on #201
Use Pillow as specified in `requirements.txt`

[2016-12-08 13:22] hackrush01 commented on #201
I already have it!
![screenshot from 2016-12-08 18-50-51](https://cloud.githubusercontent.com/assets/17583974/21011448/535c9b06-bd77-11e6-9b27-eee8674ef0d2.png)

[2016-12-08 16:55] abhsag24 commented on #201
@hackrush01 use sudo apt-get install python3-pil.imagetk if you're on an ubuntu machine

[2016-12-08 20:40] hackrush01 commented on #201
Yes this worked, thank you. Updating the README.md now.

[2016-12-09 04:00] abhsag24 commented on #201
hey so it'd be better if this is changed to
[code]

[2016-12-09 04:32] abhsag24 opened #205 "Use pyinstaller to create executables"

[2016-12-09 06:14] nkprince007 commented on #205
Does this cover windows section bro?

[2016-12-09 06:26] hackrush01 commented on #205
That's what I had to ask. Are we creating only windows executables?

[2016-12-09 06:28] abhsag24 commented on #205
Nope executables for all

On 09-Dec-2016 11:56 AM, "hackrush01" <notifications@github.com> wrote:

[2016-12-09 06:29] hackrush01 commented on #205
Okay

[2016-12-09 06:30] nkprince007 commented on #205
Btw @abhsag24 what's the mobile client you're using for GitHub?

[2016-12-09 06:39] abhsag24 commented on #205
None replying through emails :P

On 09-Dec-2016 12:00 PM, "Naveen Kumar Sangi" <notifications@github.com>
wrote:

[2016-12-09 11:08] hackrush01 commented on #33
I don't think instagram would be a good idea. It provides only square images, so the wallpaper will appear stretched.

[2016-12-09 11:28] abhsag24 commented on #33
@hackrush01 it's upto the user if he wants it, we just provide support

[2016-12-09 11:29] hackrush01 commented on #205
I am relatively new to python but I would really like to work on this issue. Can someone point me to some resource on how to get started. Because what I saw till now is that pyInstaller needs a predefined 'entry point'. But in our case our entry point is `UIP` which then calls `main` of `uiplib/UIP.py` according to the argument passed. And I could not find a way to do it with pyInstaller.

[2016-12-09 11:30] abhsag24 commented on #33
btw i don't know if it's legal to download images from instagram. Can anyone research?

[2016-12-09 11:31] abhsag24 commented on #205
@hackrush01 i'm not entirely sure about pyinstaller as well. Part of the solution is to understand and research how pyinstaller works actually and how to best use it for our usecase.

[2016-12-09 11:36] hackrush01 commented on #205
Also is there a way in python to check the flow of the program? As reading the code is not the most efficient way of doing that. IMO.

[2016-12-09 11:49] #200 closed

[2016-12-09 11:53] #16 closed

[2016-12-09 11:53] #201 closed

[2016-12-09 17:09] #181 closed

[2016-12-10 03:58] abhsag24 commented on #33
adding `/media/` after any users' page gives the json of the user. Though this API isn't in the documentation or publically released by Insta, still not sure if it's legal to download.

[2016-12-10 04:16] nkprince007 commented on #33
But, instagram has DRM content and would lead to copyright issues. They aren't meant to be downloaded bro.

[2016-12-10 04:27] abhsag24 commented on #33
@nkprince007  are you sure photos posted publically cannot be downloaded? can you point to sources?

[2016-12-10 04:46] nkprince007 commented on #205
Reading code is **the** best way to do that @hackrush01

[2016-12-10 04:55] nkprince007 commented on #33
@abhsag24 look at 7th term [here](https://help.instagram.com/478745558852511), it also says that the users own the photos they post and would need some sort of licensing before we could use them.

[2016-12-10 05:13] abhsag24 commented on #33
What I'm more worried about is

[2016-12-10 05:15] abhsag24 commented on #33
@nkprince007 do you think its worth using something like `selenium` something where we shift responsibility of the link provided from our self to the user?

[2016-12-10 05:32] nkprince007 commented on #33
IDK what `selenium` is @abhsag24

[2016-12-10 08:32] nemaniarjun commented on #120
I implemented this, only to find out Ubuntu doesn't create a copy of the file.

[2016-12-10 09:35] abhsag24 commented on #120
@nemaniarjun we can delete after changing, as discussed right?

[2016-12-10 11:37] #190 closed

[2016-12-10 11:39] nkprince007 commented on #120
@abhsag24 Or we could set a cronjob that eliminates old wallpapers(user sets the amount of time) if only not the current wallpaper

[2016-12-10 11:46] nkprince007 opened #208 "GUI: Add Reset to Defaults button"
This would allow user to reset the settings back to defaults

[2016-12-10 11:49] nkprince007 commented on #205
@hackrush01 You could start with `pyinstaller --onefile uiplib/UIP.py` Which bundles the output into `dist` directory, but be sure to clean `build` and `dist` before you try to create binaries

[2016-12-10 12:10] nemaniarjun commented on #195
I think we can close this.

[2016-12-10 12:11] abhsag24 opened #209 "Display default values in the settings tab"

[2016-12-10 12:11] #195 closed

[2016-12-10 12:24] abhsag24 opened #211 "Destroy subreddit textbox when reddit is unclicked"

[2016-12-10 12:27] nemaniarjun opened #212 "Add Support for Desktoppr"
Get Wallpapers from Desktoppr

Link to API: https://www.desktoppr.co/api

[2016-12-10 14:44] hackrush01 commented on #205
Can someone please test if the executable is working? My OS is giving me problems.

[2016-12-10 15:06] abhsag24 commented on #205
that's a pretty weird error

[2016-12-10 15:19] hackrush01 commented on #205
Yeah. I tried pip installing urllib3 and requests
No avail.

[2016-12-10 16:56] abhsag24 opened #213 "Readme: Run: UIP.py --> UIP"

[2016-12-10 21:26] nkprince007 commented on #213
@abhsag24 Are you referring to line 79 in the `README.md` ?

[2016-12-10 22:26] nkprince007 commented on #205
I've given a try too. It's a problem with the bundler, some imports are not being analyzed by the automatic analysis, that's what is giving the error.

[2016-12-11 03:12] abhsag24 commented on #213
Yes?

[2016-12-11 03:31] abhsag24 opened #216 "setup.py requires uninstalled packages"
happens because in `utils.py` we have `OnlineFetch`, which connects to the main code which has dependencies, and we require `utils.py` in the setup file.
Move Online Fetch to a new `OnlineFetch.py` file

[2016-12-11 03:49] abhsag24 commented on #205
@hackrush01 for me on windows it just opens and then closes no error no messages. Did you go through hidden imports btw?

[2016-12-11 04:07] nkprince007 commented on #205
I've the same thing too. On Arch Linux.

[2016-12-11 05:02] abhsag24 opened #217 "--service not working on linux"
it keeps changing wallpaper

[2016-12-11 05:49] abhsag24 commented on #197
http://docs.wxwidgets.org/2.8.8/wx_wxtaskbaricon.html#wxtaskbaricon is a nice way if someone wants a starting point

[2016-12-11 07:02] hackrush01 commented on #205
What are hidded imports?

[2016-12-11 09:26] abhsag24 commented on #205
@hackrush01 yup, i dont know conceptually what they are :P , was just going through why pyinstaller ight be fauling

[2016-12-11 11:05] hackrush01 commented on #205
Please check. It's working in mine.
And I'll upload to drive/dropbox later. Right now I'll use this.

[2016-12-11 11:15] nkprince007 commented on #205
@hackrush01 Still no luck here, with your commit..
Check output [here](http://pastebin.com/QmpP9Pgs)

[2016-12-11 18:22] abhsag24 commented on #205
@hackrush01 works on ubuntu 16.04 :D

[2016-12-11 18:51] nkprince007 commented on #216
I'll work on this tonight.

[2016-12-11 18:56] hackrush01 commented on #216
How to reproduce the error?

[2016-12-11 19:06] abhsag24 commented on #216
@hackrush01 remove all requirements, uninstall UIP then run`python3 setup.py install`

[2016-12-11 20:29] nkprince007 opened #219 "Use makefile for scripts"
we could use Makefile for generally combining all the tasks into one big script
[GNU make](https://www.gnu.org/software/make/manual/make.html) utility helps in accomplishing this
all the tedious tasks of clean, build, package, install could be moved here

Check the links below for more information
[make](https://www.gnu.org/software/make/manual/make.html)
[automake](https://www.gnu.org/software/au

[2016-12-11 21:17] nkprince007 opened #220 "GUI:Use variables to store settings"
Use variables like last_row and update the changes when applied accordingly in the settings tab.

[2016-12-12 14:50] #216 closed

[2016-12-12 16:43] #211 closed

[2016-12-12 17:15] abhsag24 opened #224 "Add utils folder, differentiate, setup-utils, and regular utils"
right now setup requires functions from `utils` but breaks everytime we connect it to the main code. It'd be best if we could differentiate utils into `setup-utils` and `uip-utils`

[2016-12-12 17:18] nemaniarjun commented on #212
If merged, close this issue?

[2016-12-12 17:21] #212 closed

[2016-12-12 17:33] nemaniarjun opened #225 "Do not allow --service start and --ui together"
Creats a PID-file that doesn't run,
Causing ProcessLookupError in exit_UIP()

[2016-12-12 17:37] nemaniarjun commented on #225
Alternatively, handle ProcessLookupError in exit_UIP(), using os.remove(pid-file)

[2016-12-12 17:50] nkprince007 commented on #225
Could you work on this and give a quick fix @nemaniarjun?

[2016-12-12 17:53] nemaniarjun commented on #225
Will do

[2016-12-12 18:03] abhsag24 commented on #225
@nemaniarjun a better issue would be to fix the case where this happens :P

[2016-12-12 18:04] nemaniarjun commented on #225
did not get you @abhsag24
You are talking about the first solution right?

[2016-12-12 18:13] nkprince007 commented on #217
It's hogging my cpu when I run it in service mode

[2016-12-12 18:15] abhsag24 commented on #225
ahh yes

[2016-12-12 19:27] hackrush01 commented on #224
"breaks everytime we connect it to main code" means? What breaks? What connects to main code?"

[2016-12-12 19:31] hackrush01 opened #227 "Make GUI better."
Two things
1. The whole picture should fit the frame.
2. As a whole UI should be made to look better. Maybe use something other than tkinter before it's to late.

[2016-12-12 21:58] nkprince007 commented on #227
We'd have a lot of dependencies, like if you're onto building something with PyQt, you'd get an enriched UI, but, considering the scale of project and the memory footprint, it seems all the way good to have something that comes standard. But anyway, options are welcome.

[2016-12-13 00:53] abhsag24 commented on #224
whenever we try to import other modules like `scrape` or `scheduler`

[2016-12-13 09:45] #217 closed

[2016-12-13 12:06] #225 closed

[2016-12-13 12:10] abhsag24 commented on #33
@nkprince007 we can do this. We can register on instagram as an app, have users authenticate the application and use their access tokens to get content on behalf of the users. Later on we can even provide mechanism to like or  share wallpapers they like.

[2016-12-13 13:47] hackrush01 commented on #227
But at-least the pictures should fit perfectly in the UIP frame.

[2016-12-13 15:06] #213 closed

[2016-12-13 15:24] abhsag24 opened #235 "Support pinterest."
they have a public API in the form of users' rss feed:
`https://www.pinterest.com/<username>/feed.rss`
boards:
`https://www.pinterest.com/<username>/<board>.rss`

[2016-12-13 18:10] #224 closed

[2016-12-13 18:28] abhsag24 opened #237 "Update requirements"
we are using old versions of requirements also some other repos it would be nice to see how much we can upgrade and upgrade to the latest.

[2016-12-13 18:46] nemaniarjun commented on #5
Close this then?

[2016-12-13 18:47] nemaniarjun commented on #4
What others don't work?

[2016-12-13 18:48] abhsag24 commented on #4
@nemaniarjun KDE and qt based DE's dont work atleast.

[2016-12-13 18:48] nemaniarjun commented on #13
Let's get this done with?

[2016-12-13 18:49] abhsag24 commented on #5
hmm we still do want immediate delete well that makes this a dupe anyway

[2016-12-13 18:49] #5 closed

[2016-12-13 18:51] nemaniarjun commented on #12
Duplicate of #162

[2016-12-13 18:51] abhsag24 commented on #13
well i like newcomer issues :P waiting for a newcomer to solve this.

[2016-12-13 18:51] nemaniarjun commented on #10
Travis is done?? If so, close this?

[2016-12-13 18:52] #12 closed

[2016-12-13 18:52] #10 closed

[2016-12-13 18:53] #175 closed

[2016-12-13 18:56] abhsag24 commented on #162
Also Pinterest
they have a public API in the form of users' rss feed:
https://www.pinterest.com/<username>/feed.rss
boards:
https://www.pinterest.com/<username>/<board>.rss

[2016-12-13 18:57] abhsag24 commented on #235
moved to #162

[2016-12-13 18:57] #235 closed

[2016-12-13 18:58] #37 closed

[2016-12-13 19:19] nemaniarjun commented on #13
Sure :P

[2016-12-13 19:20] nemaniarjun commented on #8
What all is still left to be tested?

[2016-12-13 19:21] nemaniarjun commented on #35
When you say `document` what do you mean?

[2016-12-13 19:22] nemaniarjun commented on #112
Close this? New GUI features are added to as new issues anyways.

[2016-12-13 19:23] nemaniarjun commented on #90
Needs more info? Bumping this for @mayank1495.

@abhsag24 I don't know what the protocol is to close this one.

[2016-12-13 19:24] nemaniarjun commented on #95
Any flags left?

[2016-12-13 19:30] abhsag24 commented on #8
all of `scheduler, setWallpaper and most files except scrape` even `scrape` isn't 100% yet

[2016-12-13 19:30] abhsag24 commented on #35
add coments for all methods

[2016-12-13 19:30] #112 closed

[2016-12-13 19:31] abhsag24 commented on #95
--pics-folder

[2016-12-13 19:35] nemaniarjun commented on #95
We have an issue for that. Close this?

[2016-12-13 19:36] nemaniarjun commented on #8
We have Duplicates for all of them. (AFAIK)
Close this?

[2016-12-14 10:41] nkprince007 commented on #227
But that doesn't mean we would have to change tkinter..

[2016-12-14 11:09] nkprince007 commented on #90
Is this issue still prevalent @abhsag24 ?

[2016-12-14 11:10] abhsag24 commented on #90
@nkprince007 it was never an issue for me :P

[2016-12-14 11:15] nkprince007 commented on #8
I'll work on this. :smile:

[2016-12-14 13:29] #90 closed

[2016-12-14 14:44] rahul-kumi commented on #173
@nemaniarjun, are you working on it, if not can I be assigned?

[2016-12-14 15:08] #108 closed

[2016-12-14 16:17] nkprince007 commented on #158
I think this is done already.. :P

[2016-12-14 17:49] abhsag24 commented on #158
@nkprince007 wen setings.json is updated from gui then it prettifies

[2016-12-14 17:54] nkprince007 commented on #158
Oh, that.. :stuck_out_tongue:

[2016-12-14 19:11] nkprince007 commented on #171
Being addressed in #8

[2016-12-14 19:11] #171 closed

[2016-12-14 19:12] nkprince007 commented on #170
Being addressed in #8.

[2016-12-15 11:53] #183 closed

[2016-12-15 14:46] #169 closed

[2016-12-15 15:03] abhsag24 commented on #191
Maybe call it `start` :D

[2016-12-15 15:18] abhsag24 opened #247 "CI: Build on all OS'"
Right now Travis only builds on Linux, we need to build it on windows and Mac as well

[2016-12-15 15:20] abhsag24 commented on #247
cc @lohani2280 since you were interested

[2016-12-15 21:50] nemaniarjun commented on #124
Might wanna check this out :D https://github.com/Imgur/imgurpython

[2016-12-16 18:49] #209 closed

[2016-12-17 04:12] #35 closed

[2016-12-17 06:21] abhsag24 opened #252 "Readme: Users can download drect executables from UIP-misc"
Link: https://github.com/NIT-dgp/UIP-misc/tree/master/binaries
Add a readme section to update that

[2016-12-17 06:28] #178 closed

[2016-12-17 06:29] abhsag24 opened #253 "Make UIP website"
just a landing page detailing members and changelog and executables and how to use section , just like a Readme but a website :P

[2016-12-17 09:29] #227 closed

[2016-12-17 12:02] abhsag24 opened #254 "GUI: Remove debug print"
Here: https://github.com/NIT-dgp/UIP/blob/master/uiplib/GUI.py#L256

[2016-12-17 12:10] DanRadulescu962 commented on #173
Hi,I
 would like to work at this issue.

[2016-12-17 12:20] abhsag24 commented on #173
@DanRadulescu962 awesome! feel free to reach us on our [gitter channel](https://gitter.im/NIT-dgp/General) if you need any help

[2016-12-17 12:23] abhsag24 opened #255 "Make a newcomer wiki"
take inspiration from coala's newcomer guide https://docs.coala.io/en/release-0.6/Getting_Involved/Newcomers.html

[2016-12-17 12:28] abhsag24 commented on #173
@DanRadulescu962 also the link in the issue is expired you might want to replace it with: `http://felixrieseberg.com/open-source-newcomers/` this is not the coala guide but a random blog which is awesome :D

[2016-12-17 12:31] abhsag24 commented on #173
you may also add `https://docs.coala.io/en/release-0.6/Getting_Involved/Newcomers.html` and  `https://www.atlassian.com/git/tutorials/learn-git-with-bitbucket-cloud` you can say something like:
[code]

[2016-12-17 14:40] hackrush01 opened #257 "Get's the root user's home directory instead of current user's home directory."

[2016-12-17 14:58] #173 closed

[2016-12-17 16:46] DanRadulescu962 commented on #158
Can I be assigned?

[2016-12-17 16:52] abhsag24 commented on #158
Ahh sorry this is not how this works, on our repo you clailm an issue by
commenting on it :D

On 17-Dec-2016 10:16 PM, "DanRadulescu962" <notifications@github.com> wrote:

[2016-12-17 19:57] lohani2280 opened #259 "GUI: Make Apply button in settings work properly"
gives permission error whenever changes made in settings  are applied by clicking on "Apply" button.

EDIT :-
Exception in Tkinter callback
Traceback (most recent call last):
  File "/usr/lib/python3.5/tkinter/__init__.py", line 1553, in __call__
    return self.func(*args)
  File "/usr/local/lib/python3.5/dist-packages/UIP-0.0.3-py3.5.egg/uiplib/GUI.py", line 275, in handle_settings
    update_se

[2016-12-17 20:02] abhsag24 commented on #259
@lohani2280 can you post the traceback? @nemaniarjun can this be due to the same reason we had with folders?

[2016-12-17 20:02] nemaniarjun commented on #259
Does it work with `sudo`?

[2016-12-17 20:03] nemaniarjun commented on #259
Yeah I'll look into this

[2016-12-17 20:04] abhsag24 commented on #259
@nemaniarjun maybe use `tempfile` ? a fix for this should be easy

[2016-12-17 20:06] #158 closed

[2016-12-17 20:06] nemaniarjun commented on #259
On it.

[2016-12-17 20:33] nemaniarjun opened #260 "When downloading, create `pics` folder if it does not exist."
Steps to reproduce:
1. Delete `.uip/pics`
2. run `UIP`

[2016-12-17 20:46] nemaniarjun commented on #259
@lohani2280 can you post details on how to reproduce the error? I am unable to reproduce it. (Everything works perfectly for me)

[2016-12-17 21:01] lohani2280 commented on #259
@nemaniarjun  run UIP --ui -> go to settings -> fill in all the details and then -> click "Apply".

[2016-12-17 21:07] nemaniarjun commented on #259
@lohani2280 I don't get any error and it works for me perfectly.
Make sure you have installed UIP using latest code.
If problem still persists, give me more details, like: OS you are using, etc

[2016-12-17 21:15] lohani2280 commented on #259
I just updated my codebase (actually its already updated) . but the problem is still there . I am using Ubuntu 16.04 LTS

[2016-12-18 02:04] abhsag24 commented on #260
@nemaniarjun for a normal user why wouldn't it exist in the first place?

[2016-12-18 05:55] abhsag24 opened #261 "GUI: Modulate into different files"
like Gallery, settings tab, general tab etc.

[2016-12-18 21:16] abhsag24 opened #264 "Support Plugins"
So we may will not be able to support all sites, nor support all Desktop manager. What we can do is take user the option to make plugins for different sites and different Desktop Environments.

[2016-12-19 00:22] nkprince007 opened #265 "README.md: Corrections"
Correct the word `NOte to Note in line 37 of README.md`
Link goes [here](https://github.com/NIT-dgp/UIP/blob/master/README.md#L37)

[2016-12-19 08:00] #254 closed

[2016-12-19 08:00] #261 closed

[2016-12-19 18:40] nkprince007 opened #268 "scheduler.py: Change classname to titlecase"
Follow the [wiki](https://github.com/NIT-dgp/UIP/wiki) and make modifications accordingly.

- [ ] Rename the class `scheduler` to `Scheduler`
- [ ] Change the definitions in the class to match `snake_case`

[2016-12-19 18:47] lohani2280 commented on #191
@abhsag24 can u plz elaborate about the issue?? ..like what will be the exact funtioning of schedule button

[2016-12-19 18:50] abhsag24 commented on #191
it will instantiate the `scheduler` object

[2016-12-20 04:50] DarkSouL11 opened #272 "mainGui.py: Make previous button work properly"
The code which shifts preview to previous wallpaper at some point will give error because list index will become negative, it should be corrected.
See line 82 in uiplib/gui/mainGui.py.

[2016-12-20 05:43] abhsag24 commented on #272
nice thanks :D

[2016-12-20 05:53] #219 closed

[2016-12-20 07:05] #247 closed

[2016-12-20 09:24] #272 closed

[2016-12-20 09:26] #170 closed

[2016-12-20 10:27] #8 closed

[2016-12-20 23:50] nkprince007 commented on #197
I think this serves even better, bro@abhsag24

http://candidtim.github.io/appindicator/2014/09/13/ubuntu-appindicator-step-by-step.html

[2016-12-21 03:36] abhsag24 commented on #197
@nkprince007 the previous one was windows only i think. I think yu'll have to implement all of these differently

[2016-12-21 12:50] #208 closed

[2016-12-21 12:53] abhsag24 opened #276 "GUI: Update View Once Reset is pressed"
When the `Reset to Default` button is pressed, update the view to display the default settings. (Currently it only resets the `settings.json` file)

[2016-12-21 15:32] lohani2280 commented on #276
@abhsag24 I'll be working on this issue.

[2016-12-22 08:00] nkprince007 opened #278 "Move example wallpapers to UIP-misc"
- [x] remove the examples directory
- [x] edit the README.md and add links to it.

[2016-12-22 08:56] #278 closed

[2016-12-22 13:31] abhsag24 commented on #259
@lohani2280 are u still facing the issue? did u try deleting your `.uip` folderand reinstalling again?

[2016-12-22 17:20] #160 closed

[2016-12-23 09:01] nemaniarjun opened #281 "Fix imports and unused code."

[2016-12-24 11:12] abhsag24 opened #283 "Make GUI default"
Before this make sure
- [ ] We can start scheduling wallpapers from within UI
- [ ] We can minimize to system tray.

[2016-12-25 19:42] #276 closed

[2016-12-25 19:44] #281 closed

[2016-12-27 09:16] Aniq55 opened #284 "GUI: Download Button (downloadBtn) not defined"
[code]

[2016-12-27 11:50] abhsag24 commented on #284
why close this the PR is not merged

[2016-12-27 11:50] #284 closed

[2016-12-27 18:45] Aniq55 commented on #260
I don't understand this issue

[2016-12-27 18:48] abhsag24 commented on #260
I think our structure has changed since i created, kindly close :P

On 28-Dec-2016 12:15 AM, "Aniq Ur Rahman" <notifications@github.com> wrote:

[2016-12-27 19:35] #260 closed

[2016-12-28 07:24] Aniq55 opened #287 "GUI: Arrange the buttons (Set Wallpaper, Flush) side by side"

[2016-12-28 07:31] Aniq55 opened #288 "GUI: Fetching wallpapers based on search term from Unsplash (Feature Request)"
Requires a **Search-box** in the GUI
Suppose the search term is `summer`
So we fetch images from the page:
`https://unsplash.com/search/summer`

[2016-12-28 07:33] Aniq55 commented on #287
Would it look nice, if instead of text, we use symbols for
Set Wallpaper- Green Tick
Download - Blue Download Symbol
Flush - Red Cross

[2016-12-28 07:54] nemaniarjun commented on #287
Instead of red cross we can use a trash icon and since we don't have a download button anymore, we use a `play` button for start and red cross for stop.

[2016-12-28 07:54] nemaniarjun commented on #287
See #191

[2016-12-28 07:57] nemaniarjun commented on #205
Close if done?

[2016-12-28 08:17] Aniq55 commented on #288
This can be added under the settings section of GUI

[2016-12-28 08:37] Aniq55 commented on #287
![screenshot from 2016-12-28 14-07-04](https://cloud.githubusercontent.com/assets/20151858/21517665/f2301ade-cd06-11e6-9a18-d8eb0e9e45d0.png)
Should I open a PR for this?
@nemaniarjun @abhsag24 @nkprince007 @DarkSouL11

[2016-12-28 08:41] nemaniarjun commented on #287
Sure go ahead then we can close this issue and open a new one for the use of symbols instead of text. After #191 is done.

[2016-12-28 08:42] nemaniarjun commented on #287
Start a PR.

[2016-12-28 08:42] nemaniarjun commented on #288
This will need some change in the scrape area AFAIK.

[2016-12-28 09:11] abhsag24 commented on #287
looks Awesome @Aniq55

[2016-12-28 09:12] #237 closed

[2016-12-28 09:15] nemaniarjun commented on #283
We also need GUI CI tests before we can make it default.

[2016-12-28 09:15] abhsag24 opened #290 "Make Flush work"
right now its just a stub it'll be great to have that functionality along with start

[2016-12-28 09:17] abhsag24 commented on #283
@nemaniarjun i'm not sure about that, i'm all for for testing helper methods in GUI but not the actual code for creations of button etc. Like we don't test HTML in websites right?

[2016-12-28 09:18] nemaniarjun commented on #283
I just meant we should add tests for everything that can be tests (sanely) :P

[2016-12-28 11:08] #147 closed

[2016-12-28 11:56] nkprince007 opened #292 "GUI: Blur feature too CPU intensive"
When we adjust blur via slider, the number of render cycles is too much.
Change the slider to call `blur` method only `onmouseup`

[2016-12-28 12:04] nkprince007 opened #293 "Broken Wallpapers"
Wallpapers may get broken when a download is interrupted either manually or when the connection is interrupted. These cannot be previewed or set as wallpapers.

Catch the error from `PIL` and delete the broken wallpapers.

[2016-12-28 13:52] #287 closed

[2016-12-28 13:55] abhsag24 opened #294 "Display UIP icon in GUI"

[2016-12-28 14:00] Aniq55 commented on #294
No description provided :P

[2016-12-28 14:01] abhsag24 commented on #294
what description do you need @Aniq55

[2016-12-28 14:02] abhsag24 commented on #205
@nemaniarjun problem is we need to have it so that we can automate this or atleast make it easier to create executables.

[2016-12-28 14:25] Aniq55 commented on #294
I mean where to put the logo?

[2016-12-28 15:18] Aniq55 opened #296 "GUI: Blur bar should reset to initial level, everytime picture is changed."
(bug)

[2016-12-28 15:23] Aniq55 commented on #290
Flush means we will delete that image, right?

[2016-12-28 15:36] abhsag24 commented on #290
well intuitively right now it feels like it, though flush right now means delete all images and start downloading new images

[2016-12-28 16:08] Aniq55 opened #297 "Update the screenshots in the README (current GUI)"
(newcomer)

[2016-12-28 16:18] Aniq55 commented on #293
I am trying to make changes to scrape.py, am I on the right track? @nkprince007

[2016-12-28 16:36] nkprince007 commented on #293
But, as discussion went, we would like to remove them only when we can't preview them. Not while downloading them. So, it's more towards GUI.

[2016-12-28 16:38] Aniq55 commented on #293
Sorry for deleting my comment :stuck_out_tongue:  @nkprince007

[2016-12-28 17:28] #292 closed

[2016-12-28 18:03] Aniq55 commented on #253
What about Github Pages?
https://github.com/blog/2289-publishing-with-github-pages-now-as-easy-as-1-2-3

[2016-12-28 19:54] abhsag24 commented on #253
yes github pages will do fine. Want me to create a repository?

[2016-12-29 04:37] nkprince007 commented on #253
I don't think a new one is necessary, bro. We already have UIP-misc of the job.

[2016-12-29 06:51] abhsag24 opened #299 "Add stop to scheduler"
A way to stop scheduling wallpapers so we can stop onlineFetch and other Functions to exit cleanly.

This will also help with:  https://github.com/NIT-dgp/UIP/issues/293

[2016-12-29 07:02] nemaniarjun commented on #290
I am working on this

[2016-12-29 07:02] nemaniarjun commented on #290
Nearly done too

[2016-12-29 07:31] #191 closed

[2016-12-29 10:51] nkprince007 commented on #176
I suppose we could use `subprocess` in `setup.py` and write up an install script on `Makefile`.
But, I guess we'd have to check distro wise for the install.

[2016-12-29 10:53] nkprince007 commented on #176
@abhsag24 Please comment on the different distros we'd be supporting.

I'm thiniking of
-[x] arch
-[x] debian

[2016-12-29 10:55] abhsag24 commented on #176
@nkprince007 Fedora as well. Also we have a setup script in the code that installs pygobject in a virtual environment, maybe we should run UIP in a virtual environment only?

[2016-12-29 10:55] abhsag24 commented on #176
because pygobject almost always conflicts with the already installed version, as its a dependency on most DE's

[2016-12-29 10:58] nkprince007 commented on #176
Couldn't we use the pre-existent version?

[2016-12-29 10:59] abhsag24 commented on #176
@nkprince007  we do that now :D

[2016-12-29 11:00] nkprince007 commented on #176
Okay, how about testing the pre-existence and installing as necessary?

[2016-12-29 11:03] abhsag24 commented on #176
we can do that. We can also just use venv :P , we have packages conflicting anyway it'd save everyone som much time if we create a venv in the make instead and no one has to worry about anything

[2016-12-29 11:12] nkprince007 commented on #176
But, that'd cause us to use venv everytime to run UIP.
That's not the safe way to do it, I feel.

[2016-12-29 11:15] abhsag24 commented on #176
@nkprince007 that could be a part of the entry script right? activate venv , then carry on?

[2016-12-29 11:27] nkprince007 commented on #176
Nope, entry script couldn't do that as no extrinsic link exists between our package and `usr/lib` installation of python sitepackages.

[2016-12-29 17:24] nemaniarjun opened #303 "Remove OnlineFetch"

[2016-12-30 13:26] nemaniarjun opened #304 "Add refresh button to GUI"
This button will update the wallpaper list, should help after flush or download without scheduling.

[2016-12-30 13:27] nemaniarjun opened #305 "Add standalone Download button"
Usefull after Flush, and on first run, to Download more/new wallpapers.

[2016-12-30 14:56] abhsag24 commented on #305
@nemaniarjun why not update UI after play is clicked?

[2016-12-30 15:02] nemaniarjun commented on #305
That doesnt give the expected result I guess... `scheduler` changes the wallpapers, what if I only want new wallpapers?

[2016-12-30 15:04] nemaniarjun opened #307 "Fix `UIP` not working"
When `UIP` is run on Ubuntu 16.04, it exits without working.

[2016-12-30 15:05] abhsag24 commented on #305
@nemaniarjun do you think it'll be a valid issue after https://github.com/NIT-dgp/UIP/issues/120 ?

[2016-12-30 15:45] nemaniarjun commented on #305
I am not sure. What about favourites issue?

[2016-12-30 15:47] abhsag24 commented on #305
@nemaniarjun what about favorites?

[2016-12-30 15:49] nemaniarjun commented on #305
We don't want to delete favorite wallpapers?

[2016-12-30 15:49] nemaniarjun commented on #305
Right?

[2016-12-30 15:49] abhsag24 commented on #305
yes

[2016-12-30 15:50] abhsag24 commented on #305
btw was thinking we'd store favorites in a different location

[2016-12-30 22:06] nkprince007 commented on #197
since I'm on kde I can't proceed any further on this

[2016-12-31 02:53] nkprince007 opened #308 "Stop installing unnecessary bears."
reduce load on CI by stopping installation of unused bears.

[2016-12-31 04:59] #308 closed

[2016-12-31 05:02] abhsag24 commented on #304
closing this in favour of merging the funtionality with the `flush` button

[2016-12-31 05:02] #304 closed

[2016-12-31 13:24] lohani2280 commented on #113
@abhsag24 i want to work on this issue . Do i need to add a flag specifying  where to download them to??.....any more suggestions which u wanna give??

[2016-12-31 14:18] nkprince007 commented on #113
I don't think this issue is relevant any more since we opened up to GUI and the cli section is no longer relevant. Better closing it.

[2016-12-31 14:18] #113 closed

[2017-01-01 07:35] abhsag24 opened #310 "Gallery: Preview Should show present wallpaper by default"

[2017-01-01 07:54] abhsag24 commented on #305
@nemaniarjun closing this as wontfix, reopen if you find this relevant

[2017-01-01 07:54] #305 closed

[2017-01-01 07:58] abhsag24 commented on #310
Maybe even after wallpaper changes.

[2017-01-01 08:42] nemaniarjun commented on #310
No point in showing the current wallpaper in preview. after a change...

[2017-01-01 08:46] abhsag24 commented on #310
@nemaniarjun makes the whole thung more dynamic/pleasing

[2017-01-01 10:12] #290 closed

[2017-01-01 10:17] abhsag24 opened #312 "Update gallery automatically with new images"

[2017-01-01 11:05] nemaniarjun opened #313 "clean up scheduler call"
When calling `scheduler` from `UIP.py` we are passing, individual settings.

Pass the whole dict to scheduler, this will make it look cleaner

[2017-01-01 21:13] nemaniarjun opened #314 "Show total number of Pics, to be scheduled"
Will be good and can show us how many Wallpapers are being downloaded.

Also relevant to, users pics-folder

[2017-01-02 17:40] abhsag24 opened #316 "Setting to automatically flush images after x days"

[2017-01-03 04:03] #121 closed

[2017-01-03 04:05] abhsag24 opened #317 "Replace button with images"

[2017-01-03 11:10] lohani2280 opened #318 "favorite option : Browse fav directory to store user's favorite pics."
Right now favorite_pics directory is  created in the .uip folder ,i.e , we can't browse to set favorite_pics folder in our PC.

[2017-01-03 12:40] nemaniarjun commented on #95
Closing, deprecating CLI

[2017-01-03 12:40] #95 closed

[2017-01-03 12:40] nemaniarjun commented on #103
Closing, deprecating CLI

[2017-01-03 12:40] #103 closed

[2017-01-03 12:41] nemaniarjun commented on #119
Uhmm... Favs solves this?

[2017-01-03 12:54] #119 closed

[2017-01-03 12:58] nemaniarjun commented on #119
Closed by issue #318

[2017-01-03 13:28] #161 closed

[2017-01-03 13:28] nemaniarjun commented on #161
@abhsag24 Open again if needed

[2017-01-03 19:33] abhsag24 commented on #103
Are we sure about deprecating CLI? It was just an idea it would only happen
if you guys agree :P

On 03-Jan-2017 6:10 PM, "Arjun Nemani" <notifications@github.com> wrote:

[2017-01-03 19:39] nemaniarjun commented on #103
I think you were right about it being a lot of work.
We will still keep `UIP --service` which IMO is more useful then the CLI

[2017-01-04 18:16] lohani2280 opened #321 "generalTab.py : Add suitable comments to increase code readability"

[2017-01-05 12:41] lohani2280 commented on #259
@abhsag24 Its working completely fine now after deleting . so i am closing this .

[2017-01-05 12:42] #259 closed

[2017-01-05 13:33] #296 closed

[2017-01-05 15:11] lohani2280 opened #324 "GUI:blur bar"
Blur bar resets to initial level every time picture is changed but , if  opened a previously set wallpaper, it won't display the correct blur amount.

[2017-01-06 10:17] #318 closed

[2017-01-06 16:28] #303 closed

[2017-01-06 16:28] #312 closed

[2017-01-07 13:10] nkprince007 opened #326 "macOS: Set wallpaper not working"
Bug report:
http://pastebin.com/ftCYW3r9

Probable cause: Updated `osascript` / Outdated requirements.

[2017-01-08 03:45] abhsag24 opened #327 "no import error"
[code]

CC @nemaniarjun  assigning you

[2017-01-08 04:13] #327 closed

[2017-01-08 04:37] abhsag24 opened #328 "Update doesnt work"
it will look something like this after update
![image](https://cloud.githubusercontent.com/assets/8532031/21747335/17223436-d58a-11e6-9620-e17325d8922e.png)

[2017-01-08 06:07] nemaniarjun opened #329 "appObj.images should be a list of UipImages instead of filepaths"

[2017-01-08 06:08] nemaniarjun opened #330 "Streamline UipImage usage and remove useless code"

[2017-01-08 07:01] #328 closed

[2017-01-08 07:01] #330 closed

[2017-01-08 07:02] #329 closed

[2017-01-08 09:18] nkprince007 commented on #326
Cause identified: System Events application located at `/System/Library/CoreServices/System Events.app` might not be running sometimes.

[2017-01-08 09:23] nemaniarjun commented on #326
How do we start it?

[2017-01-08 09:28] nkprince007 commented on #326
Maybe we need to change our requirements. [py-appscript](https://pypi.python.org/pypi/py-applescript) seems a bit more promising. Since, Applescript comes with macOS and the cited package is just a wrapper to `NSAppleScript` originally written in Objective-C. If we proceed this way, we would need to write an AppleScript to get our job done via `System Events`, inherently invoking the cited process

[2017-01-08 09:48] nkprince007 commented on #326
Set wallpaper:
[code]
Get Wallpaper:
[code]
This applescript always seems to work. I even tried it by deliberately killing `System Events.app`. :heart: AppleScript. Makes things a lot easier. I think we could just dump even the use of any requirements for OSX. The AppleScript could even be invoked even from command line via `osascript` tool.

[2017-01-08 09:49] nkprince007 commented on #326
@abhsag24 @nemaniarjun
Need your opinions on this one. I prefer to use the `osascript` tool via `subprocess` and `Popen` rather than adding `appscipt` or `py-appscript` as a dependency.

[2017-01-08 09:53] nemaniarjun commented on #326
I agree, If we can remove dependencies AND improve functionality, then why not? :+1:

[2017-01-11 14:15] #326 closed

[2017-01-12 11:45] nkprince007 commented on #307
Still an issue?

[2017-01-12 12:24] nemaniarjun commented on #307
Yes

[2017-01-14 13:24] abhsag24 opened #334 "UIP cli not working"
CC @nemaniarjun

[2017-01-14 16:26] nemaniarjun commented on #334
Dupe. https://github.com/NIT-dgp/UIP/issues/307

[2017-01-14 16:54] abhsag24 commented on #334
@nemaniarjun it int working on windows as well? close the previous one?

[2017-01-14 18:07] abhsag24 opened #335 "Put Error message when favorite without any image"
right now it gives no message and an ugly traceback in the console.

[2017-01-14 19:39] nkprince007 commented on #307
Moved onto issue #334

[2017-01-14 19:39] #307 closed

[2017-01-15 04:10] abhsag24 opened #336 "Put icons and start menu entries"
so we dont have to open the console and type in `uip` everytime

[2017-01-15 08:57] #334 closed

[2017-01-17 13:30] nkprince007 commented on #144
I think it's already been implemented. 😉

[2017-01-17 13:30] #144 closed

[2017-01-17 13:31] nkprince007 commented on #253
Is anyone working on this? If not, I'll take it up.

[2017-01-17 15:25] nemaniarjun commented on #253
Go ahead bro. :) I would like to help you with it though. I want to learn web dev :P

[2017-01-17 16:10] snehith57624 commented on #268
Could I be assigned this?

[2017-01-17 16:47] abhsag24 commented on #268
@snehith57624 sure! :D in this repo we claim issues by commenting on it, which you already have! so  you can go ahead and start working on it  :D

[2017-01-18 15:07] nemaniarjun commented on #253
http://jekyllthemes.org/themes/minimal-mistakes/

http://jekyllthemes.org/themes/new-age/

[2017-01-18 15:10] nkprince007 commented on #253
@nemaniarjun  I'll be sending in a PR to gh-pages with some screenshots once the theme is decided. Anyone interested could work on the PR to `gh-pages` branch.

I prefer jekyll for the static site generation. Makes the publishing process a breeze.
And I think pretty much everyone loves to work on template based stuff.

[2017-01-19 07:08] nkprince007 commented on #253
[Jekyll](https://jekyllrb.com/) or [React](https://facebook.github.io/react/)

[2017-01-23 00:24] abhsag24 commented on #194
closing this as wont fix CC @nkprince007 open this if it seems necessary? closing this for focus on GUI

[2017-01-23 00:24] #194 closed

[2017-01-23 11:13] nkprince007 commented on #194
Admit it, CLI will be deprecated, in future applications, probably a --verbose tag should be added for DEBUGGING uses.

[2017-01-23 19:29] SACHIN-13 opened #338 "UIP command throws this error after building the source"
[code]

[2017-01-23 19:32] abhsag24 commented on #338
happens due to `!=` instead of `==` in line `107` in `scheduler.py`

[2017-01-23 19:33] SACHIN-13 commented on #338
would like to fix it!

[2017-01-23 19:34] abhsag24 commented on #338
@SACHIN-13 sure go ahead! :D send in a PR!

[2017-01-24 03:37] #338 closed

[2017-01-25 09:58] abhsag24 opened #340 "Move `exit_UIP` to `utils.py`"
that's where it belongs :P

[2017-01-25 10:04] abhsag24 opened #341 "Make stop button"

[2017-01-25 18:34] nkprince007 commented on #341
I think we need to make it clear about what to stop @abhsag24 😉

[2017-01-25 18:35] abhsag24 commented on #341
Ahh yes. Scheduler :P

On 26-Jan-2017 12:04 AM, "Naveen Kumar Sangi" <notifications@github.com>
wrote:

[2017-01-25 19:20] #340 closed

[2017-01-26 07:11] abhsag24 opened #344 "Give users option to add text to wallpapers"
They mgiht use it as a reminder or something :D

[2017-01-26 09:09] #335 closed

[2017-01-26 09:22] Aniq55 commented on #197
@nkprince007 I am trying to get Gtk in python but I am having problems. Any help?

[2017-01-26 11:23] Aniq55 commented on #197
![img_20170126_164647](https://cloud.githubusercontent.com/assets/20151858/22329577/de90759e-e3e7-11e6-952b-893b34b1534f.jpg)

Is this design alright? @nkprince007 @abhsag24

[2017-01-26 11:37] abhsag24 commented on #197
@Aniq55 yes this looks good for the basic case might want to add a menu to maximize and bring back the normal GUI ?

[2017-01-26 11:39] Aniq55 commented on #197
Yeah Cool @abhsag24

[2017-01-26 12:30] nkprince007 commented on #197
@Aniq55 please wait until the Event starts, you shouldn't be contributing before time :P

**CC** @abhsag24 @Aniq55

[2017-01-26 12:33] abhsag24 commented on #197
Nah it's okay. GSoC has the same rule you can make prototypes.

On 26-Jan-2017 6:00 PM, "Naveen Kumar Sangi" <notifications@github.com>
wrote:

[2017-01-26 12:47] Aniq55 commented on #197
I haven't started contributing, just checking and discussing the design. @nkprince007

[2017-01-26 13:49] yasethiya opened #346 "Error: When adding wallpaper as favourite"
[code]

[2017-01-26 20:23] yasethiya commented on #346
no file is showing named shutil.py and posixpath.py in python3.5 directory,how this is possible where i am going wrong?

[2017-01-26 21:26] abhsag24 commented on #346
these are standard libraries in python , the thing is shutil needs `image_path` while `images` is a list of `uipImages` just do ` copy(self.images[self.index],image_path, self.settings['fav-pics-folder'])` instead of the earlier line in `favorite` function

[2017-01-29 06:57] Aniq55 commented on #197
Link for windows:
http://www.brunningonline.net/simon/blog/archives/SysTrayIcon.py.html

[2017-01-29 07:36] #316 closed

[2017-01-29 12:15] SACHIN-13 commented on #341
would take up this job

[2017-01-31 05:19] SACHIN-13 commented on #346
Added a PR #349 . plz check!

[2017-01-31 05:26] abhsag24 opened #350 "Remove flush button."
Since we have `auto-flush` now. We can remove flush completely :D

[2017-01-31 05:27] abhsag24 opened #351 "Clicking play crashes the software"
![image](https://cloud.githubusercontent.com/assets/8532031/22453321/12dfc272-e7a4-11e6-93f5-310acb02cd78.png)
it just stays in that state forever

[2017-01-31 08:01] #346 closed

[2017-02-11 04:55] abhsag24 commented on #253
i personally like React but now i guess this is already an issue on the org website, so closing it here.

[2017-02-11 04:55] #253 closed

[2017-02-13 22:23] #156 closed

[2017-02-16 14:53] #351 closed

[2017-02-24 07:10] ghoshbishakh opened #357 "bad interpreter: /usr/local/bin/python: no such file or directory"
After doing `pip install uip --user`
I get
[code]
When I try to run `UIP`

[2017-02-24 07:12] ghoshbishakh commented on #357
It works fine with `sudo pip install uip`
Although I think --user should be made working too!

[2017-02-24 07:14] ghoshbishakh opened #358 "Images not suitable for wallpapers are downloaded"

[2017-02-24 07:16] ghoshbishakh commented on #358
![seqdkjni1x9qy1gnsrmd2xqz8xtcmqyfy_qap-nbt1m](https://cloud.githubusercontent.com/assets/5156787/23293955/13d3e3fe-fa8f-11e6-98b7-af223afb5cfb.jpg)
![4xfezp8qybwigpg6wn5gkaui39aipdv4jdhijfu4_ns](https://cloud.githubusercontent.com/assets/5156787/23293957/19131eac-fa8f-11e6-92ff-3926d9111044.jpg)
![nw2n8bypufqt5ww0f3fjgcztbq4_3akcbagn_oss1km](https://cloud.githubusercontent.com/assets/5156787/2329

[2017-02-24 07:21] ghoshbishakh commented on #126
@abhsag24 for all means Systemd + Launchd + Some windows trick?

[2017-02-25 01:54] nkprince007 commented on #126
Looks like it! @ghoshbishakh

[2017-02-25 15:05] #265 closed

[2017-03-12 07:18] #268 closed

[2017-03-12 07:21] abhsag24 commented on #314
do you mean in the cli?

[2017-03-12 10:03] nemaniarjun commented on #314
I meant in both the cli and the gui

[2017-03-14 06:56] XTremeRox opened #364 "UIP changes wallpapers even when the entire file isnt downloaded"
Solution : Add a callback to get_images when it completes downloading an image

[2017-03-17 17:55] jayantsaraf commented on #297
i want to contribute to this issue. can you please tell me which screenshots i need to include?

[2017-03-17 18:22] jayantsaraf commented on #313
i made a PR to this issue. but the checks have failed. can you please review it?

[2017-03-18 04:56] Aniq55 commented on #297
We need three screenshots: Windows, Linux and Mac. In Linux we have the system tray as well as the main window. So we'll require screenshots of both of these. in Windows and Mac however, just the main window would do. Make sure the wallpaper shown in the window is applied and then take the screenshot.

[2017-03-18 04:57] Aniq55 commented on #358
A check on Image pixel dimensions would solve the problem, right?

[2017-03-18 04:59] Aniq55 commented on #324
@abhsag24 do we have to use a dictionary here, to store the blur value corresponding to each image?

[2017-03-18 05:12] jayantsaraf commented on #297
how can i run the project on mac and linux because i am on windows

[2017-03-18 05:15] Aniq55 commented on #297
Then just do it for Windows, put the  screenshot in the screenshots folder
and when some other people contribute for other platforms, you can change
the file reference in the readme
On Mar 18, 2017 10:42, "jayantsaraf" <notifications@github.com> wrote:

[2017-03-18 05:32] abhsag24 commented on #358
yes @Aniq55

[2017-03-18 05:47] jayantsaraf commented on #350
i made a PR but all checks failed for that PR. can you please help me?

[2017-03-19 14:36] abhsag24 commented on #350
@jayantsaraf commented on your PR.

[2017-03-24 20:39] jayantsaraf commented on #317
can you please tell me in which file i can find code for buttons

[2017-03-26 15:46] Aniq55 commented on #317
@jayantsaraf  `UIP/uiplib/gui/generalTab.py`

[2017-04-20 21:54] nkprince007 opened #369 "Desktop notification for wallpaper changes!"
Use `libnotify` to send native notifications on linux, with pygobject. 👍

[2017-04-30 11:45] abhsag24 opened #370 "Google Drive support"

[2017-04-30 11:52] abhsag24 opened #371 "Flag to add text to users wallpaper"
add text to users wallpaper, this can be anything like a to-do list or anything he/she likes. A GUI version would also be great

[2017-12-01 11:58] abhsag24 opened #372 "Fix Screenshots in Readme"

[2017-12-01 20:10] abhsag24 opened #373 "Change UIPs description in Readme"
UIP has just had a change in direction that it is headed. See here: https://gitter.im/NIT-dgp/General?at=5a2142663a80a84b5ba3d660
Accordingly a change in the Readme has to be made, with changes with occurrences like `UIP is a desktop wallpaper changer` to `UIP is a desktop customizer`

[2017-12-03 07:01] abhsag24 opened #374 "Remove GUI"
As per our new direction [here](https://gitter.im/NIT-dgp/General?at=5a2142663a80a84b5ba3d660) we dont need it. So lets just completely remove it :P

[2017-12-03 07:02] abhsag24 commented on #350
Closing as per #374

[2017-12-03 07:02] #350 closed

[2017-12-03 07:03] abhsag24 commented on #341
Closing as per #374

[2017-12-03 07:03] #341 closed

[2017-12-03 07:04] abhsag24 commented on #294
#374

[2017-12-03 07:04] #294 closed

[2017-12-03 07:04] abhsag24 commented on #283
Definitely not since #374

[2017-12-03 07:04] #283 closed

[2017-12-03 07:05] abhsag24 commented on #220
#374

[2017-12-03 07:05] #220 closed

[2017-12-03 07:06] abhsag24 commented on #205
We're moving from more of a software to a library so let's move a way from issues like these

[2017-12-03 07:06] #205 closed

[2017-12-03 07:06] abhsag24 commented on #192
#374

[2017-12-03 07:06] #192 closed

[2017-12-03 07:06] abhsag24 commented on #324
#374

[2017-12-03 07:06] #324 closed

[2017-12-03 07:07] nkprince007 commented on #374
@abhsag24 what about the existing stuff. Like the cropping, blur, etc.

[2017-12-03 07:07] abhsag24 commented on #297
no need deprecating GUI :P lets post screenshots with glyphicons when we have the, closing this till then

[2017-12-03 07:07] #297 closed

[2017-12-03 07:11] abhsag24 commented on #374
@nkprince007 let's try and integrate them in the new structure

[2017-12-03 07:24] abhsag24 commented on #197
#374

[2017-12-03 07:24] #197 closed

[2017-12-03 07:29] abhsag24 commented on #371
Dupe of #344

[2017-12-03 07:29] #371 closed

[2017-12-03 07:30] abhsag24 commented on #321
#374

[2017-12-03 07:30] #321 closed

[2017-12-03 07:30] abhsag24 commented on #336
#374 moving from software to library.

[2017-12-03 07:30] #336 closed

[2017-12-03 07:31] abhsag24 commented on #288
This is not a GUI issue renaming

[2017-12-03 07:38] abhsag24 commented on #317
#374

[2017-12-03 07:38] #317 closed

[2017-12-03 09:40] abhsag24 opened #375 "Make UIP a library"
includes solving issues like:
- [ ]  #374
- [ ] #373
- [ ] Downloading images one at a time
- [ ] Processing the image, add text icons
- [ ] Improve on this simple api by a notification symbol custom apis to add text/graphics etc

[2017-12-04 09:59] abhsag24 opened #377 "Remove Daemoniker"
Daemoniker is causing issues with `UIP --service` on `*nix` systems. It'll be better to remove and have our own implementtion probably by  `Popen`

[2017-12-05 05:15] #374 closed

[2017-12-06 07:07] abhsag24 commented on #377
Definitive Way to do this: Remove daemoniker. Make a new Entry point. for windows run UIP.py via `pythonw` on linux/mac run it via `nohup`.
Also let's make service the only way to run uip.
Also let us remove all stdout :P

[2017-12-06 07:15] abhsag24 opened #379 "Hardcoded Defaults for settings"
Will save usa lot of errors in case user doesn't specify in his settings.json

[2017-12-06 07:15] nkprince007 commented on #379
It seems you've just enabled the issue triaging. I'm just scraping all issues from your repository and will give you some more information about this in a few minutes or so.

Because of the rate limit we can't scrape all information (including all comments and authors) right now - our system is already set up to scrape this in the next days over which the predictions will become more precise every

[2017-12-06 08:13] abhsag24 opened #380 "Move license from AGPL to MIT"

[2017-12-06 08:47] abhsag24 opened #381 "Support multiple desktops"

[2017-12-06 12:42] nkprince007 commented on #380
Are you sure about MIT? @abhsag24

[2017-12-06 12:45] nkprince007 commented on #377
Let's go ahead and make a container for it too. 🤣

[2017-12-06 12:55] abhsag24 commented on #380
@nkprince007 so as long as we were a software AGPL made a lot of sense since we didn't want anybody to package it and resell and make money while we were not, but now we are planning to make uip a desktop customization library, we need for people to 'reuse our code' rather than just reuse our application. Does it make sense? @nkprince007 ? plus it isn't only about me being sure. Everyone should be

[2017-12-06 13:07] nkprince007 commented on #380
Sure, I'm okay with this move.

[2017-12-06 21:03] abhsag24 opened #382 "Lazy download wallpapers"
We should get the image_links but instead of downloading all the links at once we should only download them when we need them

[2017-12-07 14:47] abhsag24 opened #384 "Make AppVeyor work again"

[2017-12-08 03:32] #382 closed

[2017-12-10 10:32] abh3po opened #385 "Make scrape its own library,also need to a way to generic link with other scraping apis"

[2017-12-10 10:36] abh3po commented on #377
daemoniker is removed now we only need to add a service :P

[2017-12-12 07:46] abh3po opened #386 "Add option for screen savers too"

[2017-12-12 10:57] naveenkumarsangi commented on #386
[GitMate.io](https://gitmate.io) thinks the contributor most likely able to help you is @DarkSouL11.